{% load bootstrap3 %}

<form id="profile-form" role="form" name='profile-update' method="post" hx-post="/profile/update/" hx-swap="none"{% if collapse %} data-collapse=true {% endif%}>
    {% csrf_token %}

    {% for field in registration_form %}
    <div>
        {% bootstrap_field field required_css_class="required-profile-field" %}
    </div>
    {% endfor %}

    <p class="required-field-tip"><small>* indicates a required field, any other field is optional</small></p>

    {% buttons submit='Update' %}{% endbuttons %}
</form>

{% block javascript %}
<script nonce="{{ request.csp_nonce }}">
  // Handle updates
  document.getElementById('profile-form').addEventListener("htmx:afterOnLoad", function(event) {
    notify('success', "Registration updated!", 'thumbs-up');

    // Check if this is in a panel
    if (event.target.dataset.collapse) {
      // Change the class of the header
      event.target.closest('.panel').querySelector('div.current-step-header').classList.replace('current-step-header', 'completed-step-header');
      // Delete the panel
      event.target.closest('.panel-body').remove();
      // Reload
      setTimeout(function() {
        location.reload();
      }, 1000);
    }
  });
</script>
{% endblock %}
