{% load profile_extras %}

<form id="confirm_email_form" method="post">
    {% csrf_token %}

    {# Pass the current URI ultimately onto the email verification button #}
    <input type="hidden" name="current_uri" value="{{ request.build_absolute_uri }}">

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <br />

    <button id="submit_verification_email"
            class='btn btn-primary g-recaptcha'
            data-sitekey="{% get_recaptcha_client_id %}"
            type="button"
            data-callback="send_confirm_email"
            data-loading-text="Send Verification E-Mail &nbsp;&nbsp; <i class='fa fa-spinner fa-spin '></i>">
        Send Verification E-Mail
    </button>
</form>

<script nonce="{{request.csp_nonce}}">
    function recaptchaCallback() {
        $('#submit_verification_email').removeAttr('disabled');
    };

    function send_confirm_email() {

        // Show the loading animation
        $('#submit_verification_email').button('loading');

        $.post("/profile/send_confirmation_email/", $('#confirm_email_form').serialize(), function( data ) {
            if(data == "SENT") {
                notify('success', "E-Mail Sent.", 'thumbs-up');

                // Update the html.
                $('#submit_verification_email').replaceWith('<strong>The confirmation e-mail has been sent! Check your inbox for instructions on how to complete the e-mail verification process<strong>');
            }
            else if(data == "FAILED_RECAPTCHA") {notify('danger', "Failed to verify reCAPTCHA, please refresh page and try again.");}
            else if(data == "INVALID_POST") {notify('danger', "Error processing request.");}
        });
    };
</script>
