<form id="edit-hosted-file-form" method="post" hx-post="{% url 'manage:process-hosted-file-edit-form-submission' %}">
    {% csrf_token %}

    <input type="hidden" name="file-uuid" value="{{ file.uuid }}" required>

    {# Hidden fields #}
    {{ form.project }}
    {{ form.file_name }}
    {{ form.file_location }}

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="long_name">File title:</label>
                <!-- <input type="text" name="hosted-file-name" value="{{ file.long_name }}" class="form-control" required> -->
                {{ form.long_name }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description">File description:</label>
                <!-- <textarea name="hosted-file-description" rows="5" class="form-control">{{ file.description }}</textarea> -->
                {{ form.description }}
                <p class="help-block">Optionally provide a description for your file, such as instructions on how to use it or what to do with it.</p>
            </div>
        </div>
    </div>

    <hr>

    <!-- <div class="row" id="hosted-file-replace-button-row">
        <div class="col-md-12">
            <div class="form-group">
                <button class="btn btn-primary" id="hosted-file-replace-button">Replace existing file?</button>
                <p class="help-block">Click this button to upload a new file. This should only be used for minor edits or fixes to the current file.</p>
            </div>
        </div>
    </div>

    <div class="row" id="hosted-file-upload-row"  style="display: none;">
        <div class="col-md-12">
            <div class="form-group">
                <label for="hosted-file-upload">Select a file to upload:</label>
                <input type="file" name="hosted-file-upload" class="form-control">
                <p class="help-block">Your file will be uploaded to an AWS S3 bucket managed by HMS.</p>
            </div>
        </div>
    </div>

    <hr> -->

    <!-- SELECT2 WITH INSTANT ADD? -->
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="hosted-file-name">File group</label>
                <input type="text" name="hosted-file-group" value="TO DO!!!!!!" class="form-control">
                <p class="help-block">Optionally group files together under visually distinct sets. Users will still download each file individually.</p>
            </div>
        </div>
    </div>

    <hr> -->

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="hosted-file-allow-downloads" style="padding-right: 10px;">Allow downloads?</label>
                {{ form.enabled }}
            </div>
        </div>
                <!-- <div class="radio">
                    <label>
                        <input type="radio" name="hosted-file-allow-downloads" id="hosted-file-allow-downloads-yes" value="yes" {% if file.enabled %}checked{% endif %}> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="hosted-file-allow-downloads" id="hosted-file-allow-downloads-no" value="no" {% if not file.enabled %}checked{% endif %}> No
                    </label>
                </div> -->
    </div>

    <div id="hosted-file-open-close-row" style="display: none;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="opened_time">Allow downloads starting from:</label>
                    {{ form.opened_time }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="closed_time">Close downloads at:</label>
                    {{ form.closed_time }}
                </div>
            </div>
        </div>
        <p class="help-block">Open and close times are optional. If not provided, the file will be available for download indefinitely as long as you have checked the Allow Downloads box. <strong>Please provide time in the 24 hour format and in UTC time.</strong> Click this <u><a href="https://www.timeanddate.com/worldclock/timezone/utc" target="_blank">link</a></u> to see the current UTC time.</p>
    </div>

    <div class="row" id="form-response-row" style="display: none; color: red;">
        <div class="col-md-12" id="form-response-contents">
            Response here
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</form>

<script nonce="{{request.csp_nonce}}">
  // Add Htmx Event listeners
  document.getElementById("edit-hosted-file-form").addEventListener("htmx:afterRequest", function(event) {
    // Check if successful
    if(event.detail.successful) {
      window.location.reload();
    } else if(event.detail.failed) {
      displayErrorMessage(event.detail.xhr);
    }
  });
    // Change display of the open/close times depending on file being enabled or that status being toggled.
    $(document).ready(function() {
        if ($("#edit-hosted-file-form input[name=enabled]").prop('checked')) {
            $('#hosted-file-open-close-row').show();
        } else {
            $('#hosted-file-open-close-row').hide();
        }
    });
    $("#edit-hosted-file-form input[name=enabled]").on('click', function() {
        if ($("#edit-hosted-file-form input[name=enabled]").prop('checked')) {
            $('#hosted-file-open-close-row').show();
        } else {
            $('#hosted-file-open-close-row').hide();
        }
    });

    // Display the upload form if a user clicks on the replace button.
    $('#hosted-file-replace-button').on('click', function() {
        $('#hosted-file-replace-button-row').hide();
        $('#hosted-file-upload-row').show();
    });

    function displayErrorMessage(xhr) {
        $('#form-response-row').show();

        var form_response_contents = $('#form-response-contents');
        console.log(xhr.responseText);
        errors = JSON.parse(xhr.responseText);
        console.log(errors);
        $.each(errors, function (index, value) {
            form_response_contents.append("<p>" + value + "</p>");
        });
    }
</script>
