<form id="edit-hosted-file-form" method="post" ic-on-success="window.location.reload();" ic-on-error="" ic-target="" ic-post-to="">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="hosted-file-name">File title</label>
                <input type="text" name="hosted-file-name" value="{{ file.long_name }}" class="form-control" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="hosted-file-name">File description</label>
                <textarea name="hosted-file-description" rows="5" class="form-control">{{ file.description }}</textarea>
                <p class="help-block">Optionally provide a description for your file, such as instructions on how to use it or what to do with it.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row" id="hosted-file-replace-button-row">
        <div class="col-md-12">
            <div class="form-group">
                <button class="btn btn-primary" id="hosted-file-replace-button">Replace existing file?</button>
                <p class="help-block">Click this button to upload a new file. This should only be used for minor edits or fixes to the current file.</p>
            </div>
        </div>
    </div>

    <div class="row" id="hosted-file-upload-row"  style="display: none;">
        <div class="col-md-12">
            <div class="form-group">
                <label for="hosted-file-upload">Select a file to upload</label>
                <input type="file" name="hosted-file-upload" class="form-control">
                <p class="help-block">Your file will be uploaded to an AWS S3 bucket managed by HMS.</p>
            </div>
        </div>
    </div>

    <hr>

    <!-- SELECT2 WITH INSTANT ADD? -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="hosted-file-name">File group</label>
                <input type="text" name="hosted-file-group" value="TO DO!!!!!!" class="form-control">
                <p class="help-block">Optionally group files together under visually distinct sets. Users will still download each file individually.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="hosted-file-allow-downloads">Allow downloads</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="hosted-file-allow-downloads" id="hosted-file-allow-downloads-yes" value="yes" {% if file.enabled %}checked{% endif %}> Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="hosted-file-allow-downloads" id="hosted-file-allow-downloads-no" value="no" {% if not file.enabled %}checked{% endif %}> No
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- DO NOT DISPLAY IF ALLOW = FALSE -->
    <!-- DISPLAY IN ONE ROW -->
    <div id="hosted-file-open-close-row" style="display: none;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hosted-file-open-time">Open downloading at</label>
                    {{ form.opened_time }}
                    <!-- <input type="datetime" name="hosted-file-open-time" value="{{ file.opened_time }}" class="form-control" required> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="hosted-file-open-time">Close downloading at</label>
                    <input type="datetime" name="hosted-file-open-time" value="{{ file.closed_time }}" class="form-control" required>
                </div>
            </div>
        </div>
        <p class="help-block">Optionally provide an open/and or close time during which users will be able to download your file. If neither are provided, a registred and authorized user will be able to download the file now and indefinitely.</p>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</form>

<script type="application/javascript">
    // Change display of the open/close times depending on file being enabled or that status being toggled.
    $(document).ready(function() {
        if ($("#edit-hosted-file-form input[name=hosted-file-allow-downloads]:checked").val() == "yes") {
            $('#hosted-file-open-close-row').show();
        } else {
            $('#hosted-file-open-close-row').hide();
        }
    });
    $('#hosted-file-allow-downloads-yes').on('click', function() {
        $('#hosted-file-open-close-row').show();
    });
    $('#hosted-file-allow-downloads-no').on('click', function() {
        $('#hosted-file-open-close-row').hide();
    });
</script>

<script type="application/javascript">
    // Display the upload form if a user clicks on the replace button.
    $('#hosted-file-replace-button').on('click', function() {
        $('#hosted-file-replace-button-row').hide();
        $('#hosted-file-upload-row').show();
    });
</script>