{% extends 'base.html' %}
{% load countries %}

{% block headscripts %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block title %}{{ project.project_key }} Management Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Team List</h2>
            </div>
            <div class="panel-body">
                <table id="team-table" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Members</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                        <tr class="team-row" data-team="{{ team }}">
                            <td>{{ team }}</td>
                            <td>{{ team.participant_set.all.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerscripts %}
<script type="application/javascript">
    // Turn the team table into a DataTable
    $(document).ready(function() {
        $('#team-table').DataTable();
    });
</script>

<script type="application/javascript">
    // When clicking a team row, open a new window for team managment
    $(document).ready(function() {
        $('#team-table').on("click", ".team-row", function() {
            var team = $(this).data('team');
            window.open("./" + team);
            
            // Because the user may now delete the team or change its status, mention
            // that they should refresh the page to see any changes
            var teamStatus = $(this).find('.team-status-column');
            teamStatus.html('<span class="label label-default">Refresh to see changes</span>');
        });
    });
</script>
{% endblock %}