<form name="project-details" method="POST" ic-target="#project-details" ic-post-to="{% url 'manage:set-dataproject-details' %}" ic-include='{"project_key": "{{ project.project_key }}"}'>
    <div class="form-group">
        <label for="project-name">Project full name</label>
        <input type="text" name="name" id="project-name" value="{{ project.name }}" class="form-control" required>
        <p class="help-block">100 character limit.</p>
    </div>
    <div class="form-group">
        <label for="project-short-description">Short description</label>
        <textarea id="project-short-description" name="short-description" class="form-control" rows="3" required>{{ project.short_description }}</textarea>
        <p class="help-block">255 character limit.</p>
    </div>
    <div class="form-group">
        <label for="project-name">Full description</label>
        <textarea id="project-description" name="description" class="form-control" rows="10" required>{{ project.description }}</textarea>
        <p class="help-block">HTML tags are supported here.</p>
    </div>
    <div class="pull-right">
        <button class="btn btn-default" type="cancel">Cancel changes</button>
        <button class="btn btn-success" type="submit">Update</button>
    </div>
</form>