{% extends 'sub-base.html' %}

{% load static %}
{% load countries %}
{% load projects_extras %}

{% block headscripts %}
<!-- For DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block title %}
Manage Projects
{% endblock %}

{% block subcontent %}
<div class="row">
    <div class="col-md-12">
        <table id="projects-table" class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Registration</th>
                    <th>Visibility</th>
                    <th>Actions</th>
                    <th>Order</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.project_key }}</td>
                    <td>
                        {% if project.is_challenge %}
                            Data Challenge
                        {% else %}
                            Data Set
                        {% endif %}
                    </td>
                    <td>
                        {% if project.registration_open %}
                            Open
                        {% else %}
                            Closed
                        {% endif %}
                    </td>
                    <td>
                        {% if project.visible %}
                            Publicly listed
                        {% else %}
                            Hidden
                        {% endif %}
                    </td>
                    <td><a href="{% url 'manage:manage-project' project.project_key %}" class="btn btn-sm btn-primary">Manage</a></td>
                    <td>{%if project.order is not None %}{{ project.order }}{% else %}0{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block footerscripts %}
<script type="application/javascript" nonce="{{request.csp_nonce}}">
    // Initialize DataTables
    $(document).ready(function() {
        $('#projects-table').DataTable({
          "order": [[6, "asc"], [0, "asc"]],
          "columnDefs": [
            {
              "targets": [0, 4],
              "orderable": true
            },
            {
              "targets": [1, 2, 3, 5],
              "orderable": false
            },
            {
              "targets": [6],
              "orderable": true,
              "visible": false,
            }
          ]
        });
    });
</script>
{% endblock %}
