{% extends 'sub-base.html' %}

{% load static %}
{% load countries %}
{% load projects_extras %}
{% load tz %}

{% block headscripts %}
<!-- For DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block title %}
{{ project.project_key }} Management
{% endblock %}

{% block subcontent %}
<div class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <h3>Essentials</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Registration</h2>
            </div>
            <div class="panel-body">
                <div class="form-group" id="registration-status">
                    {# Pulled this way so intercooler can grab it again when refreshing the section #}
                    {% include 'manage/registration-status.html' with project=project %}
                </div>
                <hr>
                <div class="form-group" id="visible-status">
                    {# Pulled this way so intercooler can grab it again when refreshing the section #}
                    {% include 'manage/visible-status.html' with project=project %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Details</h2>
            </div>
            <div class="panel-body" id="project-details">
                {# Pulled this way so intercooler can grab it again when refreshing the section #}
                {% include 'manage/project-details.html' with project=project %}
            </div>
        </div>
    </div>

    <!-- <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Reports and Statistics</h2>
            </div>
            <div class="panel-body">
                Coming soon...
            </div>
        </div>
    </div> -->
</div>

<div class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <hr>
        <h3>Agreement forms and downloadable files</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Agreement Forms</h2>
            </div>
            <div class="panel-body">
                {% for agreement_form in project.agreement_forms.all %}
                <div class="row">
                    <div class="col-sm-12">
                        <h5>{{ agreement_form.name }}</h5>

                        {% if agreement_form.type == "EXTERNAL_LINK" %}
                            <a href="{{ agreement_form.external_link }}" target="_blank">Go to external webpage</a>
                        {% elif agreement_form.type == "STATIC" %}
                            <a class="preview-agreement-form"
                                data-toggle="modal"
                                data-target="#modal-preview-agreement-form"
                                ic-target="#preview-agreement-form-body"
                                ic-get-from="{% url 'manage:get-static-agreement-form-html' %}"
                                ic-include='{"project-key": "{{ project.project_key }}", "form-id": "{{ agreement_form.id }}"}'>
                                See preview
                            </a>
                        {% endif %}
                    </div>
                </div>
                <hr>
                {% endfor %}
                <p class="help-block">Please contact a DBMI Tech-Core developer for help with adding or editing an agreement form.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Files</h2>
            </div>
            <div class="panel-body">
                {% for file_group in file_groups %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>{{ file_group.group_name }}:</h4>
                            {% if file_group.files|length == 0 %}
                                <p>No files in this set</p>
                            {% endif %}
                        </div>
                    </div>
                    {% for hosted_file in file_group.files %}
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-8">
                                <h5>
                                    {{ hosted_file.long_name }}
                                </h5>
                                {% is_hostedfile_currently_enabled hosted_file as file_enabled %}
                                {% if file_enabled %}
                                Downloads currently enabled
                                {% else %}
                                <span class="text-danger"><i>Downloads currently disabled</i></span>
                                {% endif %}
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="pull-right">
                                    <a class="btn btn-default pull-right edit-agreement-form-button" 
                                        href="#" 
                                        role="button" 
                                        data-toggle="modal" 
                                        data-target="#modal-edit-hosted-file"
                                        ic-get-from="{% url 'manage:get-hosted-file-edit-form' %}"
                                        ic-include='{"hosted-file-uuid": "{{ hosted_file.uuid }}", "project-key": "{{ project.project_key }}"}'
                                        ic-target="#modal-edit-hosted-file-body">
                                        Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                {% endfor %}
                <p class="help-block">Please contact a DBMI Tech-Core developer for help with adding a new data file or to move files to different subgroups.</p>
                <!-- <button class="btn btn-primary pull-right">Add another</button> -->
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <hr>
        <h3>Reports and Visualizations</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Reports</h2>
            </div>
            <div class="panel-body">
                <p><i>Please only click once and wait for the download to complete. This may take a few moments.</i></p>
                {% for form in project.agreement_forms.all %}
                    {% if form.type == "EXTERNAL_LINK" %}
                        <p><a href="{% url 'manage:download-email-list' %}?project={{ project.project_key }}&team-status=Ready&agreement-form-id={{ form.id }}&agreement-form-status=P" class="btn btn-sm btn-primary btn-block" download>
                            {{ form.name }} Forms to Approve
                        </a></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Downloads</h2>
            </div>
            <div class="panel-body">
                Coming soon...
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Uploads</h2>
            </div>
            <div class="panel-body">
                Coming soon...
            </div>
        </div>
    </div>
</div>
-->

<div class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <hr>
        <h3>Access management</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% if project.has_teams %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Team list</h2>
            </div>
            <div class="panel-body">
                <table id="team-table" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Members</th>
                            <th>Status</th>
                            <th>Downloads</th>
                            <th>Submissions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                        <tr class="team-row" data-team="{{ team.team_leader }}" style="cursor: pointer;">
                            <td>{{ team.team_leader }}</td>
                            <td>{{ team.member_count }}</td>
                            <td class="team-status-column">
                            {% if team.status == "Pending" %}
                                Pending
                            {% elif team.status == "Ready" %}
                                <span class="label label-warning">Ready to activate</span>
                            {% elif team.status == "Active" %}
                                Active
                            {% elif team.status == "Deactivated" %}
                                Deactivated
                            {% endif %}
                            </td>
                            <td>{{ team.downloads }}</td>
                            <td>{{ team.submissions }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">
                    Full participant list
                    <small>
                        <button type="button" class="btn btn-primary btn-xs pull-right"
                                ic-post-to="{% url 'manage:sync-view-permissions' project.project_key %}"
                                ic-on-success="$('#sync-modal').modal();">
                            Sync VIEW permissions <i class="ic-indicator fa fa-spinner fa-spin" style="display:none"></i>
                        </button>
                    </small>
                </h2>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="participant-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Email</th>
                                {% if project.has_teams %}
                                    <th>Team</th>
                                {% endif %}
                                <th>Access</th>
                                <th>Forms</th>
                                <th>Actions</th>
                                <th>Downloads</th>
                                <th>Uploads</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for participant_info in participants %}
                            <tr class="participant-row">
                                <td>{{ participant_info.participant.user.email }}</td>
                                {% if project.has_teams %}
                                    <td>{{ participant_info.participant.team.team_leader.email }}</td>
                                {% endif %}
                                <td>
                                    {% if participant_info.view_permissions %}
                                        Access granted
                                    {% else %}
                                        No access
                                    {% endif %}
                                </td>
                                <td>
                                    {% for form in participant_info.signed_forms %}
                                    <a class="btn btn-default btn-xs {% if form.status == 'P' %}btn-warning{% elif form.status == 'A' %}btn-default{% elif form.status == 'R' %}btn-danger{% endif %} download-signed-form" href="{% url 'projects:signed_agreement_form' %}?signed_form_id={{ form.id }}&project_key={{ project.project_key }}" target="_blank" role="button">
                                        {{ form.agreement_form.short_name }} <span class="glyphicon {% if form.status == 'P' %}glyphicon-alert{% elif form.status == 'A' %}glyphicon-ok{% elif form.status == 'R' %}glyphicon-ban-circle{% endif %}" aria-hidden="true"></span>
                                    </a>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if participant_info.view_permissions %}
                                        <button type="button" class="btn btn-default btn-xs" ic-post-to="{% url 'manage:remove-view-permission' project.project_key participant_info.participant.user.email %}" ic-replace-target="true">
                                            Revoke access <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> 
                                        </button>
                                    {% else %}
                                        {% if participant_info.signed_accepted_agreement_forms == num_required_forms %}
                                            {% if not project.has_teams %}
                                                <button type="button" class="btn btn-default btn-xs btn-success" ic-post-to="{% url 'manage:grant-view-permission' project.project_key participant_info.participant.user.email %}" ic-replace-target="true">
                                                    Grant access <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                                                </button>
                                            {% else %}
                                                Grant approval via team management.
                                            {% endif %}
                                        {% else %}
                                            Forms incomplete or pending your review
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ participant_info.download_count }}</td>
                                <td>{{ participant_info.upload_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <hr>
        <h3>Submissions management</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Submissions</h2>
            </div>
            <div class="panel-body">
                <table id="submissions-table" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Person</th>
                            {% if project.has_teams %}
                            <th>Team</th>
                            {% endif %}
                            <th>Task</th>
                            <th>Submitted Date</th>
                            <th>File ID</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for submission in submissions %}
                        <tr>
                            <td>{{ submission.participant.user.email }}</td>
                            {% if project.has_teams %}
                            <td>{{ submission.participant.team.team_leader.email }}</td>
                            {% endif %}
                            <td>{{ submission.challenge_task.title }}</td>
                            <td>{{ submission.upload_date|timezone:"America/New_York" }} (EST)</td>
                            <td>{{ submission.uuid }}</td>
                            <td>
                                <button class="btn btn-default btn-xs view-submission-info" data-toggle="modal" data-target="#modal-submission-info" data-submission-uuid="{{ submission.uuid }}" data-submission-info="{{ submission.submission_info }}">
                                    Details
                                </button>
                                <a class="btn btn-default btn-xs btn-default" href="{% url 'manage:download-submission' submission.uuid %}" download>
                                    Download
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-submission-info" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="submission-info-modal">Submission Info</h4>
            </div>
            <div class="modal-body">
                <pre id="submission-info-display">
                    ...
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-preview-agreement-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Preview agreement form</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    This is a preview of how your form is displayed to users registering for your data project. If you see anything that needs to be changed, please reach out to a DBMI Tech-Core developer for assistance.
                </div>

                <div id="preview-agreement-form-body">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-edit-hosted-file" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Edit File</h5>
            </div>

            <div class="modal-body" id="modal-edit-hosted-file-body">
                {# Loaded via Intercooler.js #}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sync-modal" tabindex="-1" role="dialog" aria-labelledby="sync-modal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="sync-modal-title">Permissions Sync</h5>
      </div>
      <div class="modal-body">
          <p>Permissions for the current project were successfully synced</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location.reload();">Reload Page</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footerscripts %}
<!-- Initialize DataTables -->
<script type="application/javascript">
    $(document).ready(function() {
        $('#team-table').DataTable({
            // Order by the Status column to prioritize pending access.
            "order": [[2, "desc"]]
        });

        $('#participant-table').DataTable({
            // Order by the Access column to prioritize pending access.
            "order": [[2, "desc"]]
        });
        
        $('#submissions-table').DataTable();
    });
</script>

<!-- When clicking a team row, open a new window for team managment -->
<script type="application/javascript">
    $(document).ready(function() {
        $('#team-table').on("click", ".team-row", function() {
            var team = $(this).data('team');
            window.open("./" + team + "/");
            
            // Because the user may now delete the team or change its status, mention
            // that they should refresh the page to see any changes
            var teamStatus = $(this).find('.team-status-column');
            teamStatus.html('<span class="label label-default">Refresh to see changes</span>');
        });
    });
</script>

<!-- Populate the submission info modal with data about the selected submission -->
<script type="application/javascript">
    $('.view-submission-info').on('click', function() {
        var submission_uuid = $(this).data('submission-uuid');

        // Grab the information from an adjacent div
        var submission_info = $(this).data('submission-info');
        
        // Parse the string into an actual json
        var submission_info_json_prettyprint = JSON.stringify(submission_info, null, 4);

        // Paste the json into the modal and pretty print it
        $('#submission-info-display').html(submission_info_json_prettyprint);
    });
</script>

<!-- Populate the edit agreement form modal with the values present in the link -->
<script type="application/javascript">
    // $('.edit-agreement-form-button').on('click', function() {

    //     var form_name = $(this).data('form-name');
    //     var form_short_name = $(this).data('form-short-name');
    //     var form_description = $(this).data('form-description');
    //     var form_type = $(this).data('form-type');
    //     var form_file_location = $(this).data('form-file-location');
    //     var form_external_link = $(this).data('form-external-link');

    //     $('#edit-agreement-form input[name=agreement-form-name').val(form_name);
    //     $('#edit-agreement-form input[name=agreement-form-short-name').val(form_short_name);
    //     $('#edit-agreement-form textarea[name=agreement-form-description').html(form_description);
    //     $('#edit-agreement-form input[name=agreement-form-html-file').val(form_file_location);        // TODO
    //     $('#edit-agreement-form input[name=agreement-form-external-link').val(form_external_link);

    //     if (form_type == "STATIC") {
    //         $('#agreement-form-type-html').prop('checked', true);
    //         $('#agreement-form-type-external').prop('checked', false);
            
    //         $('#agreement-form-html-file-block').show();
    //         $('#agreement-form-external-link-block').hide();
    //     } else if (form_type == "EXTERNAL_LINK") {
    //         $('#agreement-form-type-html').prop('checked', false);
    //         $('#agreement-form-type-external').prop('checked', true);
            
    //         $('#agreement-form-html-file-block').hide();
    //         $('#agreement-form-external-link-block').show();
    //     }
    // });

    // // Adjust agreement form questions based on form type change
    // $('#agreement-form-type-html').on('click', function() {
    //     $('#agreement-form-html-file-block').show();
    //     $('#agreement-form-external-link-block').hide();
    // });
    // $('#agreement-form-type-external').on('click', function() {
    //     $('#agreement-form-html-file-block').hide();
    //     $('#agreement-form-external-link-block').show();
    // });
</script>
{% endblock %}