app/assets/
app/.DS_Store
app/dataprojects/.DS_Store
app/db.sqlite3
app/debug.log
app/db.sqlite3
app/error.log
.DS_Store
app/**/.DS_Store
doc
docker-compose.override.yml
*.pyc
.idea
*__pycache__
docker-compose.override.yml
app/hypatio/local_settings.py
