awscli<2.0
boto3<2.0
Django<3.0
django-autocomplete-light<4.0
django-bootstrap3<16.0
django-bootstrap-datepicker-plus<4.0
django-countries<7.0
django-dbmi-client==0.4.6
django-health-check<4.0
django-jquery<4.0
django-jsonfield-backport<2.0
django-storages<2.0
django-stronghold<=1.0
djangorestframework<4.0
django-smtp-ssl<2.0
furl<3.0
jwcrypto<2.0
mysqlclient<3.0
pyjwt<3.0
python-dateutil<3.0
python-magic<2.0
raven<7.0
requests<3.0
