{% load workflows %}

{# Render any workflows #}
<div class="panel-group" id="workflows-accordion" role="tablist" aria-multiselectable="true">
{% for workflow in workflows %}
  <div id="workflow-{{ workflow.workflow.slug }}-container"
    class="workflow-container"
    data-workflow-id="{{ workflow.workflow.id }}"
    data-workflow-name="{{ workflow.workflow.slug }}"
    data-workflow-state-id="{{ workflow.id }}"
    data-workflow-original-status="{{ workflow.status }}"
    data-workflow-admin="{{ admin }}"
    hx-get="{% if admin %}{% url 'workflows:v1:admin-workflow-state-detail' pk=workflow.id %}{% else %}{% url 'workflows:v1:workflow-state-detail' pk=workflow.id %}{% endif %}"
    hx-trigger="load,path-deps"
    {% if workflow.get_dependencies %}
    path-deps="{% for dep in workflow.get_dependencies %}{% if admin %}{% url 'workflows:v1:admin-workflow-state-detail' pk=dep.id %}{% else %}{% url 'workflows:v1:workflow-state-detail' pk=dep.id %}{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}"
    {% endif %}>
  </div>
{% endfor %}
</div>
