<div id="workflow-{{ workflow.workflow.slug }}-container"
  class="workflow-container"
  data-workflow-id="{{ workflow.workflow.id }}"
  data-workflow-name="{{ workflow.workflow.slug }}"
  data-workflow-state-id="{{ workflow.id }}"
  data-workflow-original-status="{{ workflow.status }}"
  data-workflow-admin="{{ admin }}"
  ic-get-from="{% if admin %}{% url 'workflows:v1:admin-workflow-state-detail' pk=workflow.id %}{% else %}{% url 'workflows:v1:workflow-state-detail' pk=workflow.id %}{% endif %}"
  ic-trigger-on="scrolled-into-view"
  {% if workflow.get_dependencies %}
  ic-deps="{% for dep in workflow.get_dependencies %}{% if admin %}{% url 'workflows:v1:admin-workflow-state-detail' pk=dep.id %}{% else %}{% url 'workflows:v1:workflow-state-detail' pk=dep.id %}{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}"
  {% endif %}>
</div>
