{% extends 'base.html' %}

{% block headscripts %}
{% endblock %}

{% block title %}Data Challenges{% endblock %}
{% block subtitle %}Click on a challenge below to learn more{% endblock %}

{% block content %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for data_project in data_contests %}
    <div class="row">
        <div class="col-md-12">
            {% include "projects/project-blurb.html" with project_counter=forloop.counter0 %}
            <br/>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}