{% extends 'sub-base.html' %}

{% block headscripts %}
{% endblock %}

{% block title %}Data Challenges{% endblock %}
{% block subtitle %}
<strong style="color:#A51C30;">There are currently no challenges in progress.</strong> 
 <p>You may click on a challenge below to learn more about it, but only previously registered participants of a given challenge may access its corresponding set of files.</p>
<p>To access our publicly available data sets, including the <a href="n2c2-nlp">n2c2 NLP data sets</a> that originally came out of challenges held during the i2b2 project, visit <a href="list-data-projects.html">Data Sets</a>.</p>
{% endblock %}

{% block subcontent %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for project in projects %}
    <div class="row">
        <div class="col-md-12">
            {% include "projects/project-blurb.html" with project_counter=forloop.counter0 %}
            <br/>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}