{% extends 'sub-base.html' %}
{% load projects_extras %}
{% load bootstrap3 %}

{% block headscripts %}
{% endblock %}

{% block tab_name %}{{ project.name }}{% endblock %}
{% block title %}{{ project.name }}{% endblock %}
{% block subtitle %}{{ project.short_description }}{% endblock %}

{% block subcontent %}

{% if messages %}
{% include 'messages.html' %}
{% endif %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Description</h2>
            </div>
            <div class="panel-body">
                {% autoescape off %}
                {{ project.description }}
                {% endautoescape %}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {% if project.registration_open %}
            {% if project.is_challenge %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-description">
                        <h2 class="panel-title">Login or Register</h2>
                    </div>
                    <div class="panel-body">
                        <p>To participate in {{ project.short_description }} please first login or register.</p>

                        <p style="margin-top: 15px;"><a class="btn btn-success" href="{{ request.build_absolute_uri|get_login_url }}" role="button">Login or register now to participate</a></p>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    To request access to this dataset please first <a href="{{ request.build_absolute_uri|get_login_url }}">login or register</a>.
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-danger" role="alert">
              {# Temporary message for n2c2-nlp over 2020 winter recess #}
              {% if project.project_key == 'n2c2-nlp' %}
                The n2c2 NLP Research Data Sets are closed to new registrations during Harvard's winter break, 12/19–1/3. Please come back after January 4, 2021. If you are an existing user, you may log in using the Login link in the menu bar above.
              {% else %}
                Registration is not open for {{ project.short_description }} at this time.
              {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footerscripts %}
{% endblock %}
