<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ project_counter }}">
        <h4 class="panel-title">
            <a class="collapsed" role="button" href="{% url 'projects:view-project' project.project_key %}">
                <span class="data-project-blurb-name">{{ project.name }}</span>
                {% if project.commercial_only %}
                <span class="data-project-blurb-commercial-badge" class="badge">Commercial Only</span>
                {% endif %}
                <br />
                <br />
                {{ project.short_description }}
            </a>
        </h4>
    </div>
</div>
