{% extends 'sub-base.html' %}
{% load projects_extras %}
{% load bootstrap3 %}
{% load static %}
{% load workflows %}

{% block headscripts %}
<link href="https://vjs.zencdn.net/8.20.0/video-js.css" rel="stylesheet" />
<link href="{% static 'css/workflows/workflows.css' %}" rel="stylesheet" />
<script src="https://vjs.zencdn.net/8.20.0/video.min.js"></script>
<script src="{% static 'js/videojs-event-tracking.min.js' %}"></script>
<script src="{% static 'js/workflows/workflows.js' %}"></script>
<script src="{% static 'js/workflows/file-uploader.js' %}"></script>
{% endblock %}

{% block tab_name %}{{ project.name }}{% endblock %}
{% block title %}{{ project.name }}{% endblock %}
{% block subtitle %}{{ project.short_description }}{% endblock %}

{% block subcontent %}

{% if messages %}
    {% include 'messages.html' %}
{% endif %}

<div class="row">

    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Description</a></h2>
            </div>
            <div class="panel-body pre-scrollable">
                {% autoescape off %}
                {{ project.description }}
                {% endautoescape %}
            </div>
        </div>

        {% for panel in informational_panels %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">{{ panel.title }}</a></h2>
            </div>
            <div class="panel-body">
                {% include panel.template %}
            </div>
        </div>
        {% endfor %}

        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Info</a></h2>
            </div>
            <div class="panel-body pre-scrollable">
              All registrations/DUAs must be completed in English for requests to be processed
            </div>
        </div>
    </div>

    <div class="col-md-7">

        {# Render any workflows #}
        {% for workflow in workflows %}
          {{ workflow|workflow }}
        {% endfor %}

        {% for panel in setup_panels %}
        <div class="panel panel-{{ panel.bootstrap_color }}">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <div class="{% if panel.status == SIGNUP_STEP_COMPLETED_STATUS %}
                                completed-step-header
                                {% elif panel.status == SIGNUP_STEP_CURRENT_STATUS %}
                                current-step-header
                                {% elif panel.status == SIGNUP_STEP_PERMANENT_STATUS %}
                                current-step-header
                                {% else %}
                                blocked-step-header
                                {% endif %}">
                        <span>{{ panel.title }}</span>
                    </div>
                </h2>
            </div>
            {% if panel.status == SIGNUP_STEP_CURRENT_STATUS or panel.status == SIGNUP_STEP_PERMANENT_STATUS %}
            <div class="panel-body">
                {% include panel.template %}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for panel in actionable_panels %}
            <div class="panel panel-default" style="margin-bottom: 15px;">
                <div class="panel-heading heading-description" role="tab">
                    <a class="{% if actionable_panels|length > 3 %}collapsed{% endif %}"
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse{{ forloop.counter0 }}"
                        aria-expanded="false"
                        aria-controls="collapse{{ forloop.counter0 }}"
                    >
                        <h2 class="panel-title">
                            <div class="accordion-step-header">
                                <span>{{ panel.title }}</span>
                            </div>
                        </h2>
                    </a>
                </div>
                <div id="collapse{{ forloop.counter0 }}" class="panel-collapse collapse {% if actionable_panels|length <= 3 %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ project_counter }}">
                    <div class="panel-body">
                        {% include panel.template %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="signed-agreement-form-completed-modal" tabindex="-1" role="dialog" aria-labelledby="signed-agreement-form-completed-modal">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="signed-agreement-form-completed-modal-title">Tasks</h4>
          </div>
          <div class="modal-body">
              <form id="signed-agreement-form-completed-form">
                <p>Do you confirm that you have already submitted a fully executed version of this agreement form to a representative of Harvard University?</p>
                <div class="form-group">
                  <label for="signed-agreement-form-completed-recipient-input">Please enter the name (and email address if possible) of the representative who received your signed agreement form:</label>
                  <input type="textarea" class="form-control" name="signed-agreement-form-completed-recipient-input" placeholder="Enter recipient's contact details here..." required>
                </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" id="signed-agreement-form-completed-confirm-button">I Confirm</button>
          </div>
      </div>
  </div>
</div>

{% endblock %}

{% block footerscripts %}
<script type="application/javascript">
$( document ).ready(function() {

    $('#sign-agreement-form').on('input', function() {

      // Hide the 'Already Completed' button
      $('#agreement-form-completed').hide();
    });

    //triggered when modal is about to be shown
    $('#signed-agreement-form-completed-modal').on('show.bs.modal', function(e) {

      //get data-id attribute of the clicked element
      var formName = $(e.relatedTarget).closest("form").attr("name");

      //populate the textbox
      $(e.currentTarget).data("form-name", formName);
    });

    $('#signed-agreement-form-completed-confirm-button').on("click", function(e) {
      e.preventDefault();

      // Check form first
      var completedForm = $('#signed-agreement-form-completed-modal').find("form:first");
      if( ! $(completedForm)[0].reportValidity()) {
        return false;
      }

      // Get input
      var signedAgreementFormRecipient = $(completedForm).find("input").map(function(){
        return this.value;
      }).get().join('');

      // Reset the form
      $(completedForm)[0].reset();

      // Hide confirmation modal
      $('#signed-agreement-form-completed-modal').modal('toggle');

      // Get the form and its submit button
      var formName = $("#signed-agreement-form-completed-modal").data("form-name");
      var form = $(`form[name=${formName}]`);
      var formSubmitButton = $(form).find(':submit');

      // Set button to loading
      formSubmitButton.button("loading");

      // Serialize form fields
      $(form).find('input[name="agreement_text"]').val(`Already submitted to: ${signedAgreementFormRecipient}`);
      var formData = $(form).serializeArray();
      formData.push({name: "recipient", value: signedAgreementFormRecipient});

      // Get form submit URL
      var actionUrl = $(form).attr('action');

      $.post(actionUrl, $.param(formData), function(res){
          // $("#loading").hide();
      }).done(function() {
          notify('success', "Agreement form submitted!", 'thumbs-up');
          $(formSubmitButton).button("reset");
          setTimeout(function() {
            // Do this in a timeout since Bootstrap's 'button' function breaks jQuery methods in same iteration
            $(formSubmitButton).html("Form Saved &nbsp;<i class='fa fa-check'></i>").prop("disabled", "disabled").toggleClass("btn-primary btn-success");
          }, 0);

          // Refresh the page so the user does not see this button again
          setTimeout(function(){
              window.location = window.location.pathname
          }, 1000);
      }).fail(function() {
        // Add error message
        notify('danger', "Agreement form failed to submit. Please try again or contact support.", 'exclamation-sign');
        console.log("An error occurred, the form couldn't be sent!");

        // Set button to loading
        formSubmitButton.button("reset");
      });
    });

    $('form[name=upload_agreement_form_container]').submit(function(e) {
      e.preventDefault();

      // Get the submit button
      var submit_button = $("#upload-agreement-form-submit");

      // Set button to loading
      submit_button.button("loading");

      // Fetch form data
      var formData = new FormData($(this)[0]);

      // Ensure content type matches
      if(!formData.get("upload").type.match('application/pdf')) {
        notify('error', "Only PDF uploads are accepted", 'triangle-alert');
        return;
      }

      $.ajax({
        url: $(this).attr('action'),
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false
      }).done(function(){

        notify('success', "Agreement form submitted!", 'thumbs-up');
        $(submit_button).html("Form Saved &nbsp;<i class='fa fa-check'></i>").prop("disabled", "disabled").toggleClass("btn-primary btn-success");

        // Refresh the page so the user does not see this button again
        setTimeout(function(){
            window.location = window.location.pathname
        },1000);
        console.log("Success: Files sent!");
      }).fail(function(){

        // Add error message
        notify('danger', "Agreement form failed to submit. Please try again or contact support.", 'exclamation-sign');
        console.log("An error occurred, the files couldn't be sent!");

        // Set button to loading
        submit_button.button("reset");
      });
    });

    $('form[name=agreement_form_container]').submit(function(e){
        e.preventDefault();

        // Get the submit button
        var submit_button = $("#agreement-form-submit");

        // Set button to loading
        submit_button.button("loading");

        // Serialize form fields
        var formFields = $(this).serialize();

        // Grab the div element holding the agreement form and the user's inputs. The form file should have
        // wrapped in a <div class="form-content"> all the form except for any JavaScript so that no JS gets
        // included in the saved form string.
        var agreement_form_contents = $(this).find(".agreement_form_contents").find(".form-content");

        // Replace each input field within the form with its value, so we have one complete agreement form as a string
        agreement_form_contents.find("input").each(function() {

            // For a radio or checkbox, checked inputs should turn into X's
            if ($(this).is(':radio') || $(this).is(':checkbox')) {
                if ($(this).is(':checked')) {
                    $(this).replaceWith("[X]");
                } else {
                    $(this).replaceWith("[ ]");
                }
            } else {
                $(this).replaceWith($(this).val());
            }
        });

        agreement_form_contents.find("textarea").each(function() {
            $(this).replaceWith($(this).val());
        });

        // Find the div element where we want to paste the string containing the completed form
        var agreement_text_container = $(this).find(".agreement_text_contents");

        // Move the content of the agreement_form block into an input in order to be captured by jQuery serialize
        agreement_text_container.val(agreement_form_contents.text());

        $.post($(this).attr('action'), formFields + "&" + $('input[name=agreement_text]').serialize(), function(res){
            // $("#loading").hide();
        }).done(function() {
            notify('success', "Agreement form submitted!", 'thumbs-up');
            $(submit_button).html("Form Saved &nbsp;<i class='fa fa-check'></i>").prop("disabled", "disabled").toggleClass("btn-primary btn-success");

            // Refresh the page so the user does not see this button again
            setTimeout(function(){
                window.location = window.location.pathname
            },1000);
        }).fail(function() {
          // Add error message
          notify('danger', "Agreement form failed to submit. Please try again or contact support.", 'exclamation-sign');
          console.log("An error occurred, the form couldn't be sent!");

          // Set button to loading
          submit_button.button("reset");
        });
    });
  });
</script>
{% endblock %}
