{% extends 'base.html' %}
{% load projects_extras %}
{% load bootstrap3 %}

{% block headscripts %}
{% endblock %}

{% block tab_name %}{{ project.name }}{% endblock %}
{% block title %}{{ project.name }}{% endblock %}
{% block subtitle %}{{ project.short_description }}{% endblock %}

{% block content %}

{% if messages %}
    {% include 'messages.html' %}
{% endif %}

<div class="row">
    
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Description</a></h2>
            </div>
            <div class="panel-body pre-scrollable">
                {% autoescape off %}
                {{ project.description }}
                {% endautoescape %}
            </div>
        </div>

        {% for panel in informational_panels %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">{{ panel.title }}</a></h2>
            </div>
            <div class="panel-body">
                {% include panel.template %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-7">

        {% for panel in setup_panels %}
        <div class="panel panel-{{ panel.bootstrap_color }}">
            <div class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <div class="{% if panel.status == SIGNUP_STEP_COMPLETED_STATUS %}
                                completed-step-header
                                {% elif panel.status == SIGNUP_STEP_CURRENT_STATUS %}
                                current-step-header
                                {% elif panel.status == SIGNUP_STEP_PERMANENT_STATUS %}
                                current-step-header
                                {% else %}
                                blocked-step-header
                                {% endif %}">
                        <span>{{ panel.title }}</span>
                    </div>
                </h2>
            </div>
            {% if panel.status == SIGNUP_STEP_CURRENT_STATUS or panel.status == SIGNUP_STEP_PERMANENT_STATUS %}
            <div class="panel-body">
                {% include panel.template %}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for panel in actionable_panels %}
            <div class="panel panel-default" style="margin-bottom: 15px;">
                <div class="panel-heading heading-description" role="tab">
                    <a class="{% if actionable_panels|length > 3 %}collapsed{% endif %}" 
                        role="button"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse{{ forloop.counter0 }}" 
                        aria-expanded="false"
                        aria-controls="collapse{{ forloop.counter0 }}"
                    >
                        <h2 class="panel-title">
                            <div class="accordion-step-header">
                                <span>{{ panel.title }}</span>
                            </div>
                        </h2>
                    </a>
                </div>
                <div id="collapse{{ forloop.counter0 }}" class="panel-collapse collapse {% if actionable_panels|length <= 3 %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ project_counter }}">
                    <div class="panel-body">
                        {% include panel.template %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}

{% block footerscripts %}
<script type="application/javascript">
    $('form[name=agreement_form_container]').submit(function(e){
        e.preventDefault();

        // Grab the div element holding the agreement form and the user's inputs. The form file should have
        // wrapped in a <div class="form-content"> all the form except for any JavaScript so that no JS gets
        // included in the saved form string.
        var agreement_form_contents = $(this).find(".agreement_form_contents").find(".form-content");

        // Replace each input field within the form with its value, so we have one complete agreement form as a string
        agreement_form_contents.find("input").each(function() {

            // For a radio or checkbox, checked inputs should turn into X's
            if ($(this).is(':radio') || $(this).is(':checkbox')) {
                if ($(this).is(':checked')) {
                    $(this).replaceWith("[X]");
                } else {
                    $(this).replaceWith("[ ]");
                }
            } else {
                $(this).replaceWith($(this).val());
            }
        });

        agreement_form_contents.find("textarea").each(function() {
            $(this).replaceWith($(this).val());
        });

        // Find the div element where we want to paste the string containing the completed form
        var agreement_text_container = $(this).find(".agreement_text");

        // Move the content of the agreement_form block into an input in order to be captured by jQuery serialize
        agreement_text_container.val(agreement_form_contents.text());

        var submit_button = $(this).find(".submit_form");

        $.post($(this).attr('action'), $(this).serialize(), function(res){
            // $("#loading").hide();
        }).done(function() {
            notify('success', "Agreement form submitted!", 'thumbs-up');

            // Refresh the page so the user does not see this button again
            setTimeout(function(){
                window.location = window.location.pathname
            },1000);
        }).fail(function() {
            submit_button.replaceWith("<h3><span class='label label-danger'>Form save failed. Please try again in a few minutes.</span></h3>");            
        });
    });
</script>
{% endblock %}