{% extends 'sub-base.html' %}
{% load projects_extras %}
{% load bootstrap3 %}

{% block headscripts %}
{% endblock %}

{% block tab_name %}{{ project.name }}{% endblock %}
{% block title %}{{ project.name }}{% endblock %}
{% block subtitle %}{{ project.short_description }}{% endblock %}

{% block subcontent %}

{% if messages %}
{% include 'messages.html' %}
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          {# Temporary message for n2c2-nlp over 2020 winter recess #}
          {% if project.project_key == 'n2c2-nlp' %}
            The n2c2 NLP Research Data Sets are closed to new registrations during Harvard's winter break, 12/19–1/3. Please come back after January 4, 2021. If you are an existing user, you may log in using the Login link in the menu bar above.
          {% else %}
            Registration is not open for {{ project.short_description }} at this time.
          {% endif %}
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Description</a>
                </h2>
            </div>
            <div class="panel-body">
                {% autoescape off %}
                {{ project.description }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerscripts %}
{% endblock %}
