{% extends 'base.html' %}
{% load tz %}
{% load bootstrap3 %}

{% block headscripts %}
{% endblock %}

{% block tab_name %}Signed Agreement Form{% endblock %}
{% block title %}Manage Signed Agreement Form{% endblock %}
{% block subtitle %}{{ signed_form.agreement_form.name }} -- {{ signed_form.user }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Signed Form Content</h2>
            </div>
            <div class="panel-body">
                {{ signed_form.render_title | safe }}

                {% bootstrap_form filled_out_signed_form %}
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Information</h2>
            </div>
            <div class="panel-body">
                <p><strong>Form Status:</strong> <span class="label {% if signed_form.status == 'P' %}label-warning{% elif signed_form.status == 'A' %}label-success{% elif signed_form.status == 'R' %}label-danger{% endif %}">{{ signed_form.get_status_display }}</span></p>
                <p><strong>Signed by:</strong> {{ signed_form.user }}</p>
                <p><strong>Member of team:</strong> {{ participant.team.team_leader }}</p>
                <p><strong>For Project:</strong> {{ signed_form.project.name }}</p>
                <p><strong>Form Name:</strong> {{ signed_form.agreement_form.name }}</p>
                <p><strong>Signed on:</strong> {{ signed_form.date_signed|timezone:"America/New_York" }} (EST)</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}



