{% load static %}

<div class="panel panel-default">
    <div class="panel-heading project-registration-step" role="tab" id="heading-team">
        <h2 class="panel-title">
            <div class="{% if current_step == 'request_access' %}current-step-header{% else %}blocked-step-header{% endif %}">
                <span>Requesting Access</span>
            </div>
        </h2>
    </div>
    {% if current_step == 'request_access' %}
    <div class="panel-body">
            {% if user_access_request %}
                Your request is being reviewed. Please use the 'Contact Us' link for any further questions.
            {% else %}
                <form name="dua_access_form" action="/projects/submit_user_permission_request/" method="post">
                    <input type="hidden" id="project_key" name="project_key" value="{{ project }}" />
                    In order to gain access to this data an administrator will have to contact you with further steps. Click below to confirm your request. <br /><br />

                    <button type="submit" class="btn btn-primary">Request Access</button>
                    <input type="hidden" id="dua_id" name="dua_id" value="" />
                    <input type="hidden" id="agreement_text" name="agreement_text" value="" />

                    <img name="loading" id="loading" src="{% static 'gears.svg' %}" style="display:none;">
                    <div id="status" style="color: green; font-size: 1.5em;"></div>

                    {% csrf_token %}
                </form>
            {% endif %}
    </div>
    {% endif %}
</div>

<script type="application/javascript">
    $('form[name=dua_access_form]').submit(function(e){
        e.preventDefault();

        $("#loading").show();

        $.post($(this).attr('action'), $(this).serialize(), function(res){
            $("#loading").hide();
        }).done(function() {
            $("#status").text("Access request submitted! Refreshing page...");

            // Refresh the page so the user does not see the Request Access button again
            setTimeout(function(){
                location.reload();
            },2000);
        }).fail(function() {
            $("#status").text("Access request failed.");
        });
    });
</script>
