<div class="row">
  <div class="col-sm-12">
<h2>Data User and Access Agreement</h2>

<p>By accessing the 4CE Data Repository, as hosted by President and Fellows of Harvard College on behalf of Harvard Medical School (“Harvard”), you (the “User”) agree to the following terms of this agreement (“Agreement”):</p>

<h4>I. Acceptance of this Agreement</h4>

<p>By downloading or otherwise accessing the data available from the 4CE Data Repository (“Data”), User (i) accepts and agrees to the terms of this Agreement, and (ii) represents that User is duly authorized to enter into this Agreement on behalf of their institution.</p>

<h4>II. Attribution</h4>

<p>The User shall acknowledge the source of the Data in any written, visual, or oral public disclosures concerning the User’s research using the data, as appropriate in accordance with scholarly standards.</p>

<h4>III. Use of the Data</h4>

<p>Subject to User’s compliance with all of the terms and conditions of this Agreement, use of the Data is limited to the User directly querying different LLMs (e.g., ChatGPT, GPT-4, KARL, LAMP, PaLM) to assess their feasibility and potential utility in analyzing clinical notes.</p>

<ol>
  <li>Representations and Covenants
    <ol type="A">
      <li>User represents and covenants that:
        <ol>
          <li>User is not bound by any pre-existing legal obligations or other applicable laws that prevent User from downloading or using the Data;</li>
          <li>User will access and use the Data in compliance with all applicable laws, rules, and regulations, as well as all professional and ethical standards applicable to scientific research and User’s research project, including without limitation, all applicable requirements pertaining to human subjects research and animal research;</li>
          <li>User agrees to establish appropriate administrative, technical, and physical safeguards to prevent unauthorized use of or access to the Data and comply with any other requirements relating to safeguarding of the Data that the 4CE Data Repository may require from time to time;</li>
          <li>User will only use and download that portion of the Data that is necessary for use in User’s research projects; downloading of the entire 4CE Data Repository or portions beyond what is needed for User’s research projects is strictly prohibited.  User will only share the Data will those authorized employees, fellows, students and agents who have a need to access such Data for purposes of working on User’s research projects, and whose obligations of use are consistent with the terms of this Agreement.</li>
          <li>User will retain control over the Data it accesses and downloads, and shall not disclose, release, sell, rent, lease, loan or otherwise grant access to the Data to any third party, except other users expressly authorized by Harvard to access and use the Data.</li>
          <li>User will use the Data only for scientific research purposes and shall not use the Data for any commercial activities;</li>
          <li>User will regularly check the 4CE Data Repository for any updates to Data pertinent to User’s research projects, and will only use the updated version of such Data, and will promptly destroy all outdated Data in User’s possession; and</li>
          <li>User shall not use the Data except as authorized under this Agreement.</li>
        </ol>
      </li>
      <li>User further covenants that User will not:</li>
        <ol>
          <li>obtain information from the Data that results in User or any third party(ies) directly or indirectly identifying any research subjects with the aid of other information acquired elsewhere;</li>
          <li>produce connections or links among the information included in Harvard’s datasets (including information in the Data), or between the information included in Harvard’s datasets (including information in the Data) and other third-party information that could be used to identify any individuals or organizations, not limited to research subjects;</li>
          <li>extract information from the Data that could aid User in gaining knowledge about or obtaining any means of contacting any subjects already known to User; or</li>
          <li>use the Data, either alone or in concert with any other information, to make any effort to identify or contact individuals who are or may be the sources of Data.</li>
        </ol>
    </ol>
  </li>
</ol>

<h4>IV. Disclaimer</h4>

<p>THE DATA IS PROVIDED “AS IS” AND “AS AVAILABLE” AND WITH ALL FAULTS AND DEFECTS. HARVARD MAKES NO, AND HEREBY DISCLAIMS ALL, REPRESENTATIONS AND WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THAT THE USE OF THE DATA WILL NOT INFRINGE OR VIOLATE ANY PATENT, COPYRIGHT, TRADEMARK OR OTHER THIRD-PARTY RIGHT, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR DEALING.</p>

<p>WITHOUT LIMITING THE FOREGOING, HARVARD MAKES NO WARRANTY AS TO THEACCURACY, COMPLETENESS, RELIABILITY, ORIGINALITY, AVAILABILITY, OR SECURITY OF THE DATA, THAT THE DATA WILL MEET USER’S REQUIREMENTS OR PROVIDE PARTICULAR BENEFITS, OR THAT THE DATA AND ANY RELATED FILES WILL BE FREE FROM DEFECTS, ERRORS, VIRUSES OR OTHER HARMFUL COMPONENTS. USER’S USE OF THE DATA IS SOLELY AT USER’S OWN RISK.</p>

<h4>V. Limitation of Liability </h4>

<p>IN NO EVENT SHALL HARVARD BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL THEORY WITH RESPECT TO THE DATA (I) FOR ANY DIRECT DAMAGES, OR (II) FOR ANY LOST PROFITS OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER.</p>

<h4>VI. Liability</h4>

<p>Except to the extent prohibited by law, the User assumes all liability for damages which may arise from its use, storage, download, disclosure, or disposal of the Data.  Harvard will not be liable to the User or any other person or entity for any loss, claim, liability, or demand made by the User, or made against the User by any other party, or otherwise relating to or arising in connection with the use of the data by the User, except to the extent permitted by law when caused by the gross negligence or willful misconduct of Harvard.  No indemnification for any loss, claim, damage, or liability is intended or provided by either party under this Agreement.</p>

<h4>VII. Governing Law; Venue</h4>

<p>This Agreement shall be governed by and interpreted in accordance with the laws of the Commonwealth of Massachusetts (excluding the conflict of laws and rules thereof). All disputes under this Agreement will be resolved in the applicable state or federal courts of Massachusetts. User consents to the jurisdiction of such courts and waives any jurisdictional or venue defenses otherwise available.</p>

<h4>VIII. Integration and Severability</h4>

<p>This Agreement represents the entire agreement between User and Harvard with respect to the downloading and use of the Data, and supersedes all prior or contemporaneous communications and proposals (whether oral, written or electronic) between User and Harvard with respect to downloading or using the Data. If any provision of this Agreement is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Agreement will otherwise remain in full force and effect and enforceable.</p>

<h4>IX. Reporting Requirement</h4>

<p>Should the User (i) inadvertently receives identifiable information or otherwise identifies a subject, or (ii) becomes aware of any use or disclosure of the Data not provided for or permitted by this Agreement, the User shall immediately notify Harvard via email to XXXXXX@hms.harvard.edu, and follow Harvard’s reasonable written instructions, which may include return or destruction of Data.</p>

<h4>X. Ownership</h4>

<p>Harvard shall retain ownership of any rights it may have in the Data, and User does not obtain any rights in the Data other than as set forth in this Agreement.</p>

<h4>XI. Use of Harvard Name</h4>

<p>Except as expressly provided in this Agreement, User shall not use or register Harvard’s name (alone or as part of another name) or any logos, seals, insignia or other words, names, symbols or devices that identify Harvard, including any Harvard school, unit, division or affiliate (“Harvard Names”) for any purpose in connection with this Agreement except with the prior written approval of, and in accordance with restrictions required by, Harvard. The foregoing notwithstanding, User may respond to legitimate business inquiries with factual information regarding the existence and purpose of the relationship that is the subject of this Agreement, without written permission from Harvard.  Without limiting the foregoing, User shall cease all use of Harvard Names permitted under this Agreement on the termination or expiration of this Agreement except as otherwise approved by Harvard.</p>

<h4>XII. Term and Termination</h4>

<p>User may use the Data for the duration of their project as allowed under Article III of this Agreement. Either party may terminate this agreement for any reason at any time, however, the User's obligations shall remain in effect even after termination. Upon termination, User shall immediately cease use of the Data and destroy Data in its possession and, if required by Harvard, certify to Harvard as to its destruction.</p>

<p>Harvard may limit, suspend or terminate User’s access to Data at any time if Harvard believes User has violated the terms of this Agreement or that continued use of or access to the Data by User otherwise presents acted negligently with respect to the Data.</p>

<h4>XIII.  Miscellaneous</h4>

<p>Neither party may assign, transfer or delegate any of its rights and obligations hereunder without consent of the other party. No agency, partnership, joint venture, or employment relationship is created as a result of the Agreement. Neither Party shall have authority to make any statements, representations or commitments of any kind on behalf of the other Party, or to take any action which shall be binding on the other Party.</p>

<p>This Agreement represents the entire agreement between the parties with respect to the subject matter hereof, any any prior or contemporaneous representations or understandings, either oral or written, are hereby superseded. No modification or waiver of any provision of this Agreement shall be valid unless in writing and executed by duly-authorized representatives of both Parties.  A failure by one of the Parties to this Agreement to assert its rights hereunder shall not be deemed a waiver of such rights.  No such failure or waiver in writing by any one of the Parties hereto with respect to any rights shall extend to or affect any subsequent breach or impair any right consequent thereon. If any provision of this Agreement is or becomes invalid or is ruled invalid by any court of competent jurisdiction or is deemed unenforceable, it is the intention of the parties that the remainder of this Agreement shall not be affected.</p>
</div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="form-content">
        <h4>I am a (select one):</h4>

        <div class="radio" id="registrant-is">
            <label>
                <input type="radio" name="registrant-is" value="individual" required {% if registrant_is == "individual" %}checked{% endif %} />
                an individual, requesting Data under this Agreement on behalf of themself<br>
            </label>
            <label>
                <input type="radio" name="registrant-is" value="member" required {% if registrant_is == "member" %}checked{% endif %} />
                an institutional member, requesting Data under this Agreement signed by a representing institutional official
            </label>
            <label>
                <input type="radio" name="registrant-is" value="official" required {% if registrant_is == "official" %}checked{% endif %} />
                an institutional official, requesting Data under this Agreement on behalf of their institution and its agents and employees
            </label>
        </div>

        <div id="individual-questions" style="display: {% if registrant_is == "individual" %}block{% else %}none{% endif %}">

        </div>

        <div id="member-questions" style="display: {% if registrant_is == "member" %}block{% else %}none{% endif %}">
            <h4>Institutional Member</h4>

            <div class="form-group">
                <label for="official-name">Email of representing institutional official</label>
                <input type="email" class="form-control" id="official-name" name="official-name" value="{{ official_name|default:'' }}">
            </div>
        </div>

        <div id="official-questions" style="display: {% if registrant_is == "official" %}block{% else %}none{% endif %}">
            <h4>Institutional Official</h4>

            <h4>Institution Details</h4>
            <div class="form-group">
                <label for="institute-name">Name</label>
                <input type="text" class="form-control" id="institute-name" name="institute-name" value="{{ institute_name|default:'' }}">
            </div>
            <div class="form-group">
                <label for="institute-address">Street Address</label>
                <input type="text" class="form-control" id="institute-address" name="institute-address" value="{{ institute_address|default:'' }}">
            </div>
            <div class="form-group">
                <label for="institute-city">City</label>
                <input type="text" class="form-control" id="institute-city" name="institute-city" value="{{ institute_city|default:'' }}">
            </div>
            <div class="form-group">
                <label for="institute-state">State</label>
                <input type="text" class="form-control" id="institute-state" name="institute-state" value="{{ institute_state|default:'' }}">
            </div>
            <div class="form-group">
                <label for="institute-zip">Zip Code</label>
                <input type="text" class="form-control" id="institute-zip" name="institute-zip" value="{{ institute_zip|default:'' }}">
            </div>

            <h4>Member Details</h4>
            <div id="member-details">
                {% for email in member_emails %}
                <div class="form-group">
                  <input type="email" class="form-control member-email" name="member-emails" required value="{{ email }}" />
                </div>
                {% empty %}
                <div class="form-group add-member member-1">
                <div class="input-group">
                  <input type="email" class="form-control member-email" id="member-email-1" name="member-emails" placeholder="Enter member's email address" required />
                  <div class="input-group-btn">
                    <button class="btn btn-success" type="button"  onclick="addMember();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                  </div>
                </div>
                </div>
                {% endfor %}
            </div>
    </div>

    <h4>Contact Details</h4>
    <div class="form-group">
      <label for="signer-name">Name/Title</label>
      <input type="text" class="form-control" id="signer-name" name="signer-name" value="{{ signer_name|default:'' }}"/>
    </div>
    <div class="form-group">
        <label for="signer-phone">Phone</label>
        <input type="text" class="form-control" id="signer-phone" name="signer-phone" value="{{ signer_phone|default:'' }}"/>
    </div>
    <div class="form-group">
        <label for="signer-email">E-mail</label>
        <input type="email" class="form-control" id="signer-email" name="signer-email" value="{{ signer_email|default:'' }}"/>
    </div>
    <h4>Signature</h4>
    <div class="form-group">
        <label for="name" style="margin-right: 10px; margin-bottom: 15px;">Electronic Signature (Full Name)</label>
        <input type="text" class="form-control" name="signer-signature" id="signer-signature" placeholder="Type your full name" required value="{{ signer_signature|default:'' }}" />
    </div>
    <div class="form-group">
        <label for="date" style="margin-right: 10px; margin-bottom: 15px;">Date</label>
        <input type="text" class="form-control" name="date" id="date" placeholder="Date" required value="{{ date|default:'' }}" />
    </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {

      // When someone clicks what kind of registrant they are, hide the opposite form section
      const registrantInputs = document.querySelectorAll('input[name=registrant-is]');
      const registrantValues = [...registrantInputs].map(input => input.value)

      $('#registrant-is').change(function() {

          // Set the ID of the element containing form inputs
          var activeRegistrant = $("input[name='registrant-is']:checked").val();
          var activeQuestionsId = `#${activeRegistrant}-questions`;

          // Reset other questions forms
          $("input[name='registrant-is']:not(:checked)").each(function( index) {

            // Reset form
            var inactiveRegistrant = $( this ).val();
            console.log(`Disabling: ${inactiveRegistrant}`);
            var inactiveQuestionsId = `#${inactiveRegistrant}-questions`;
            $(inactiveQuestionsId).hide();
            $(inactiveQuestionsId + " :input").prop('required',false);
            $(inactiveQuestionsId + " :input").val('');
          });

          // Set fields to required and show the form
          console.log(`Enabling: ${activeQuestionsId}`);
          $(activeQuestionsId).show();
          $(activeQuestionsId +" :input").prop('required',true);
      });
  });

  // Start an index for added member inputs
  var memberIndex = 1;
  function addMember() {

    // Increment index
    memberIndex++;
    console.log(`Adding member: ${memberIndex}`);

    // Copy element
    var addMemberElement = $("#member-details .add-member:first").clone();

    // Remove other member index class
    $(addMemberElement).removeClass(function(index, css) {
      return (css.match (/(^|\s)member\-\d+/g) || []).join(' ');
    });

    // Set new class
    $(addMemberElement).addClass(`member-${memberIndex}`);

    $("input", addMemberElement).each(function() {

      // Change input's ID
      $(this).attr("id", `member-email-${memberIndex}`);

      // Clear existing value
      $(this).attr("value", "");
      $(this).val("");
    });

    // Change click handler argument
    $("button", addMemberElement).each(function() {
      $(this).attr("onclick", `removeMember('${memberIndex}');`);

      // Replace classes
      $(this).removeClass("btn-success").addClass("btn-danger");

      // Replace icon
      $("span", this).each(function() {

        // Set the remove icon
        $(this).removeClass("glyphicon-plus").addClass("glyphicon-minus");
      });
    });

    // Add it
    $(addMemberElement).appendTo($("#member-details"));
  }

  function removeMember(index) {
    console.log(`Removing member: ${index}`);
    $(`.member-${index}`).remove();
  }
</script>
