{% extends 'base.html' %}
{% load dataprojects_extras %}

{% block headscripts %}
{% endblock %}

{% block title %}Data Challenges{% endblock %}
{% block subtitle %}Click on a challenge below to learn more{% endblock %}

{% block content %}    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for data_challenge in data_challenges %}
            {% include "datachallenges/blurb.html" with challenge_counter=forloop.counter0 %}
            <br/>
        {% endfor %}
    </div>
{% endblock %}