{% with id=widget.attrs.id %}<div><p style="width: 50%; display: inline-block; text-align: left;">{% if widget.left_label %}{{ widget.left_label }}{% endif %}</p><p style="width: 50%; display: inline-block; text-align: right;">{% if widget.right_label %}{{ widget.right_label }}{% endif %}</p></div><div{% if id %} id="{{ id }}"{% endif %} class="radio-group {% if widget.attrs.class %}{{ widget.attrs.class }}{% endif %}">{% for group, options, index in widget.optgroups %}{% if group %}
  <div><label>{{ group }}</label>{% endif %}{% for option in options %}<div class="radio-option" style="width: 20%; max-width: 20%; display: inline-block; text-align: center;">
    {% include option.template_name with widget=option %}</div>{% endfor %}{% if group %}
  </div>{% endif %}{% endfor %}
</div>{% endwith %}
