{% load dataprojects_extras %}

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ project_counter }}">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ project_counter }}" aria-expanded="false"
               aria-controls="collapse{{ project_counter }}">
                <span style="font-size:24px; font-weight: bold; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ dataproject.name }}</span>
                <br />
                <br />
                {{ dataproject.short_description }}
            </a>
        </h4>
    </div>
    <div id="collapse{{ project_counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ project_counter }}">
        <div class="panel-body">
            {% autoescape off %}{{ dataproject.description }}{% endautoescape %}

            {% if dataproject.permission_scheme == "PUBLIC" %}
                <div>
                    <a class='btn btn-primary' href='{{ dataproject.project_url }}' role='button'>Click here to access the {{ dataproject.name }}</a>
                </div>
            {% elif dataproject.permission_scheme == "REQUEST_ACCESS" %}
                {% if permission_dictionary|keyvalue:dataproject.project_key == "VIEW" %}
                    <a class='btn btn-primary' href='{{ dataproject.project_url }}' role='button'>Click here to access the {{ dataproject.name }}</a>
                {% else %}
                    <a class='btn btn-primary' role='button'>Click here to request access to the {{ dataproject.name }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

