{% load dataprojects_extras %}



<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ project_counter }}">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ project_counter }}" aria-expanded="false"
               aria-controls="collapse{{ project_counter }}">
                <span style="font-size:24px; font-weight: bold; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ dataproject.name }}</span>
                <br />
                <br />
                {{ dataproject.short_description }}
            </a>
        </h4>
    </div>
    <div id="collapse{{ project_counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ project_counter }}">
        <div class="panel-body">
            {% autoescape off %}
                {{ dataproject.description }}
            {% endautoescape %}

            {% if project_permission_setup|keyvalue_permission_scheme:dataproject.project_key == "PUBLIC" %}
                <div>
                    <a class='btn btn-primary' href='{{ dataproject.project_url }}' role='button'>Click here to access the {{ dataproject.name }}</a>
                </div>
            {% elif project_permission_setup|keyvalue_permission_scheme:dataproject.project_key == "PRIVATE" %}
                {% if permission_dictionary|keyvalue:dataproject.project_key == "VIEW" %}
                    <a class='btn btn-primary' href='{{ dataproject.project_url }}' role='button'>Click here to access the {{ dataproject.name }}</a>
                {% else %}
                    {% if access_request_dictionary|permission_requested:dataproject.project_key %}
                        <span style="font-size: 1.5em; color: red">
                            You've already requested access to this project on {{ access_request_dictionary|get_date_requested:dataproject.project_key }}, please wait for your access to be granted.
                        </span>
                        <br />
                        <br />

                    {% else %}
                        <a class='btn btn-primary' role='button' onclick="spawn_modal_access_popup({{ project_counter }}, '{{ dataproject.project_key }}')">Click here to request access to the {{ dataproject.name }}</a>
                    {% endif %}

                {% endif %}
            {% else %}
                <div>
                    <span style="font-size: 1.5em;">
                        Please Register or Sign in before attempting to access this data resource.
                    </span>
                    <br />
                    <br />

                    <a class='btn btn-primary' href='{{ account_server_url }}?next={{ request.build_absolute_uri  }}' role='button'>Register / Sign In</a>

                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="request_access_div_{{ project_counter }}" title="Access Request"></div>

