

<html>
<!-- Latest compiled and minified CSS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="topnavbar">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">DBMI</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-home"></span> DBMI Home</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">
                        <span class="glyphicon glyphicon-list"></span> Project Type <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li>
                            <a href="./example1">Data Projects</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="./example3">Software Projects</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <form class="navbar-form">
                        <input type="text" class="form-control" placeholder="Search Project Text">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </form>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                {% if user_logged_in %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><strong>{{ user.email }}</strong> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sign Out</a></li>
                    </ul>
                </li>

                {% else %}

                <li>
                    <a href="{{ account_server_url }}?next=http://portal.aws.dbmi.hms.harvard.edu/dataprojects/list/">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        <strong>Register / Sign In</strong>
                    </a>
                </li>
                {% endif %}

            </ul>

        </div>
    </div>
</div>


<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Data Projects</h1>
                <p class="lead">click on a project below to learn more</p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="sponsor">

                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for dataproject in dataprojects %}
        {% include "dataprojects/blurb.html" with project_counter=forloop.counter0 %}
        <br/>
        {% endfor %}
    </div>

</div>



</body>

</html>