{% if panel.project.hostedfile_set.all|length == 0 %}
    No files are available for download at this time.
{% endif %}

{% for file in panel.project.hostedfile_set.all %}
    {% if file.enabled or user.is_superuser %}
        <h4>{{ file.long_name }}</h4>
        <div class="row">
            <div class="col-md-9">
                {{ file.description }}
            </div>
            <div class="col-md-3">
                <a href="/download_dataset/?file_id={{ file.id }}" class="btn btn-default download-file-button" download>Download</a>
            </div>
        </div>
    {% endif %}
{% endfor %}