<table class="table table-striped" style="margin-bottom: 0px;">
{% for file in panel.files %}
    {% if file.enabled or user.is_superuser %}
    <tr>
        <td>
            <h5>{{ file.long_name }}</h5>
            {% if file.description %}
                {{ file.description }}
            {% endif %}
        </td>
        <td>
            <span class="align-middle">
                <a href="/download_dataset/?file_id={{ file.id }}" class="btn btn-default download-file-button pull-right" download>Download</a>
            </span>
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>