{% extends 'base.html' %}
{% load projects_extras %}
{% load bootstrap3 %}

{% block headscripts %}
{% endblock %}

{% block tab_name %}{{ project.name }}{% endblock %}
{% block title %}{{ project.name }}{% endblock %}
{% block subtitle %}{{ project.short_description }}{% endblock %}

{% block content %}

{% if messages %}
    {% include 'messages.html' %}
{% endif %}

<div class="row">
    
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Description</a></h2>
            </div>
            <div class="panel-body pre-scrollable">
                {% autoescape off %}
                {{ project.description }}
                {% endautoescape %}
            </div>
        </div>

        {% for panel in left_panels %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">{{ panel.title }}</a></h2>
            </div>
            <div class="panel-body">
                {% include panel.template %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-6">
        {% for panel in right_panels %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">{{ panel.title }}</a></h2>
            </div>
            <div class="panel-body">
                {% include panel.template %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

{% block footerscripts %}
{% endblock %}