{% load tz %}

<table class="table">
    <thead>
        <tr>
            <th>Submitted By</th>
            <th>Date</th>
            <th>Information</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in panel.submissions %}
        <tr>
            <td>
                {{ submission.participant.user.email }}
            </td>
            <td>
                {{ submission.upload_date|timezone:"America/New_York" }}
            </td>
            <td>
                <div class="submission-info-button" data-submission-uuid="{{ submission.uuid }}">
                    <button class="btn btn-primary btn-xs view-submission-info" data-toggle="modal" data-target="#submission-info-modal">View</button>
                </div>
                <div class="submission-info-details" style="display: none;">
                    {{ submission.submission_info }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="submission-info-modal" tabindex="-1" role="dialog" aria-labelledby="submission-info-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="submission-info-modal">Submission Info</h4>
            </div>
            <div class="modal-body">
                <pre id="submission-info-display">
                    ...
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" id="delete-submission">Delete Submission</button>
                <button type="button" class="btn btn-danger" id="delete-submission-confirm" data-submission-uuid="" style="display: none;">Are you sure? Click to confirm and delete</button>
                
                <div class="model-error alert alert-danger text-center" style="display: none; margin-top: 10px;"></div>
            </div>
        </div>
    </div>
</div>

<!-- Populate the submission info modal with data about the selected submission -->
<script type="application/javascript">
    $('.submission-info-button').on('click', function() {
        var submission_uuid = $(this).data('submission-uuid');

        // Grab the information from an adjacent div
        var submission_info = $(this).next(".submission-info-details").text();
        
        // Parse the string into an actual json
        var submission_info_json  = JSON.parse(submission_info);
        var submission_info_json_prettyprint = JSON.stringify(submission_info_json, null, 4);

        // Paste the json into the modal and pretty print it
        $('#submission-info-display').html(submission_info_json_prettyprint);

        // Update the submission-uuid data attribute
        $('#delete-submission-confirm').attr('data-submission-uuid', submission_uuid);
    });
</script>

<!-- When someone clicks the delete button, display the confirm button -->
<script type="application/javascript">
    $('#delete-submission').on('click', function() {
        $('#delete-submission').hide();
        $('#delete-submission-confirm').show();
    });

    $('#delete-submission-confirm').on('click', function() {
        var submission_uuid = $(this).data('submission-uuid');

        $.ajax({
            method: "POST",
            data: {"submission_uuid": submission_uuid},
            url: "/delete_participantsubmission/",
            success: function (data, textStatus, jqXHR) {
                $('#delete-submission-confirm').removeClass('btn-danger');
                $('#delete-submission-confirm').addClass('btn-success');
                $('#delete-submission-confirm').text('Submission deleted. Refreshing page...');

                // Refresh the page.
                setTimeout(function(){
                    window.location = window.location.pathname
                }, 1500);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#delete-submission-confirm').text(errorThrown);
                $('.model-error').text(jqXHR.responseText + " Refreshing page...");
                $('.model-error').show();

                // Refresh the page.
                setTimeout(function(){
                    window.location = window.location.pathname
                }, 5000);
            }
        });
    });
</script>