{% load projects_extras %}

{% if panel.team.get_number_of_submissions_left == 0 %}
    Your team has used up all of its available submissions.
{% else %}

    <div class="alert alert-info" role="alert">
        Please use the form below to submit an official solution on behalf of your team. <strong>For the file upload, only .zip files will be accepted.</strong> While any member of the team may submit a solution, the total submissions for a team is capped at 3. <strong>Your team has {{ panel.team.get_number_of_submissions_left }} submission(s) left</strong> before reaching that cap.
    </div>

    <form id="participant-submission-form">           
        {% if panel.project.submission_form_file_path %}
            <div class="submission_form_contents">
                {{ panel.project.submission_form_file_path|get_html_form_file_contents | safe }}
            </div>
        {% endif %}
                        
        <div class="form-group">
            <label class="btn btn-default" id="file-upload-browse">
                Click to select a zip file... <input id="file-upload-file" name="file" type="file" style="display: none;" accept=".zip">
            </label>
        </div>

        <div class="form-group">                        
            <input id="file-upload-filename" name="filename" type="text" hidden="true" />
            <input id="file-upload-project" name="project" type="text" hidden="true" value="{{ panel.project.project_key }}" />
            <button id="file-upload-submit" type="submit" class="btn btn-danger" style="display: none;"
            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Uploading file..."></button>
        </div>

        {% csrf_token %}
    </form>

{% endif %}

<!-- Handle upload/submission of a solution -->
<script type="application/javascript">

    function objectifyForm( formArray ) {
        var returnArray = {};
        for (var i = 0; i < formArray.length; i++){
            returnArray[formArray[i]['name']] = formArray[i]['value'];
        }
        return returnArray;
    }

    $(document).ready(function() {

        // Automatically update the filename field when a file is selected by the user.
        $(document).on('change', '#file-upload-file', function () {
            var input = $(this);
            var fileName = input.val().replace(/\\/g, '/').replace(/.*\//, '');

            $('#file-upload-submit').text('Submit ' + fileName);
            $('#file-upload-browse').hide();
            $('#file-upload-submit').show();

            $('#file-upload-filename').val(fileName);
        });

        // Set the handler for the participant submission form.
        $(document).on('submit', '#participant-submission-form', function (event) {

            // Get the file.
            var file = $("#participant-submission-form input[name=file]").prop('files')[0];
            if (file == null) {
                error('A file has not been selected, please try again');
                return false;
            }

            // Only allow zip files for upload.
            if (file.name.split('.').pop() != 'zip') {
                error('Only .zip files are accepted.');
                return false;
            }

            // Get the form data.
            var form = objectifyForm($('#participant-submission-form').serializeArray());

            // Remove the file from the serialized form as it will not be needed yet.
            delete form['file'];

            // Add info about the file.
            form['content_type'] = file.content;

            // Disable the form and the buttons.
            $("#file-upload-submit").button('loading');

            $.ajax({
                method: "POST",
                data: form,
                url: "/upload_participantsubmission_file/",
                success: function (data, textStatus, jqXHR) {
                    console.log("submit.success: " + textStatus);
                    upload(data["post"], data["file"], file, form);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("submit.error: " + errorThrown);
                    error('Something happened, please try again');
                }
            });

            // Return false to prevent a form submit effect
            return false;
        });

        // Uploads the file to AWS S3.
        function upload(post, fileRecord, file, submission_form) {
            console.log('upload: ' + fileRecord["filename"]);

            // Construct the needed data using the policy for AWS
            var form = new FormData();
            var fields = post["fields"];
            for(var key in fields) {
                form.append(key, fields[key]);
            }

            // Add the file
            form.append('file', file);

            // Send the file to S3.
            $.ajax({
                    url: post["url"],
                    datatype: 'xml',
                    data: form,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    xhr: function () {

                        // Add a progress handler
                        var xhr = $.ajaxSettings.xhr();
                        xhr.upload.onprogress = progress;

                        // Allow aborting the upload.
                        $('#file-upload-close-button').click(function() {

                            xhr.abort();
                        });
                        return xhr;
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log('upload.success: ' + textStatus);

                        // Do not allow the upload to be cancelled at this point.
                        $("#participant-submission-form :input").prop("disabled", true);

                        // Inform the server that the upload completed.
                        complete(fileRecord, submission_form);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('upload.error: ' + errorThrown + ', ' + textStatus);

                        // Check if aborted.
                        if( !jqXHR.getAllResponseHeaders() ) {
                            // Cancelled notification.
                            aborted();
                        } else {
                            error('Something happened, please try again');
                        }
                    }
                });
        }

        function complete(fileRecord, submission_form) {
            console.log('complete: ' + fileRecord["filename"]);
            
            // Combine information about the fileservice metadata on the file with the 
            // original form submission.
            $.extend(fileRecord, submission_form)

            // Inform the server that the upload completed.
            $.ajax({
                method: "PATCH",
                data: fileRecord,
                url: "/upload_participantsubmission_file/",
                success: function (data, textStatus, jqXHR) {
                    console.log("complete.success: " + textStatus);

                    // Notify.
                    success();

                    // Refresh the page.
                    setTimeout(function(){
                        window.location = window.location.pathname
                    }, 3000);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("complete.error: " + errorThrown);

                    // Error with message.
                    error('Something happened, please try again');
                }
            });
        }

        function progress(event) {
            // Ensure it can be used
            if (event.lengthComputable) {
                var progress = event.loaded / event.total * 100;
                console.log('upload.progress: ' + progress);
            }
        }

        function error(message) {
            $('#file-upload-submit').text('File failed to upload');
            notify('danger', message, 'glyphicon glyphicon-remove');
        }

        function aborted() {
            $('#file-upload-submit').text('File uploaded canceled');
            notify('warning', 'The upload was cancelled', 'glyphicon glyphicon-warning-sign');
        }

        function success() {
            // Add a little delay
            setTimeout(function(){
                $('#file-upload-submit').text('File uploaded successfully!');                
                notify('success', 'The upload has completed successfully! Refreshing page.', 'glyphicon glyphicon-ok');
            }, 500);
        }
    });
</script>