<p>You've been specified as a member of the institution <b>{{ panel.additional_context.member.official.institution }}</b> by an institutional official with the email <b>{{ panel.additional_context.member.official.user.email }}</b>.</p>
<p>The institutional official has already signed the data use agreement, which is pending review and acceptance/rejection by administrators.</p>
<p>Once your institutional official's agreement has been approved, return to this page and your access will be granted automatically.</p>
