{% extends 'sub-base.html' %}
{% load tz %}

{% block headscripts %}

{% endblock %}

{% block tab_name %}Signed Agreement Form{% endblock %}
{% block title %}Manage Signed Agreement Form{% endblock %}
{% block subtitle %}{{ signed_form.agreement_form.name }} -- {{ signed_form.user }}{% endblock %}

{% block subcontent %}
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Signed Form Content
                {% if is_manager %}
                  <button type="button" class="btn btn-default btn-xs btn-primary pull-right"
                          hx-get="{% url 'manage:upload-signed-agreement-form-file' signed_form.id %}"
                          data-toggle="modal" data-target="#page-modal" data-backdrop="static" data-keyboard="false"
                          hx-target="#page-modal-content">
                    Upload File&nbsp;&nbsp;<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                  </button>
                  {% endif %}
                </h2>
            </div>
            <div class="panel-body signed-agreement-form-container">
                {# Check type #}
                {% if signed_form.agreement_form.type == "FILE" or signed_form.upload %}

                    {# Handle instances where a DUA was submitted when it was not required to upload a file #}
                    {% if not signed_form.upload %}
                    <div id="signed-agreement-form-iframe-container">
                        <div class="alert alert-danger" role="alert">
                            This agreement form was completed prior to file uploads being required. This agreement form must be rejected to ensure the user fulfills the updated agreement form requirements.
                        </div>
                    </div>
                    {% else %}
                    <div id="signed-agreement-form-iframe-container">
                    <iframe src="{{ signed_form.upload.url }}"></iframe>
                    </div>
                    {% endif %}

                {% elif signed_form.document %}
                  <div id="signed-agreement-form-iframe-container">
                  <iframe src="{{ signed_form.document.url }}"></iframe>
                  </div>
                {% else %}
                {{ signed_form.agreement_text|linebreaks }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Information</h2>
            </div>
            <div class="panel-body">
                <p><strong>Form Status:</strong> <span class="label {% if signed_form.status == 'P' %}label-warning{% elif signed_form.status == 'A' %}label-success{% elif signed_form.status == 'R' %}label-danger{% endif %}">{{ signed_form.get_status_display }}</span></p>
                <p><strong>Signed by:</strong> {{ signed_form.user }}</p>
                <p><strong>Member of team:</strong> {{ participant.team.team_leader }}</p>
                <p><strong>For Project:</strong> {{ signed_form.project.name }}</p>
                <p><strong>Form Name:</strong> {{ signed_form.agreement_form.name }}</p>
                <p><strong>Signed on:</strong> {{ signed_form.date_signed|timezone:"America/New_York" }} (EST)</p>
                {% if signed_form.fields %}
                <p><strong>Fields:</strong></p>
                <table id="signed-agreement-form-fields-table" class="table-bordered">
                  <tr>
                    <th>Field</th>
                    <th>Value</th>
                  </tr>
                  {% for field, value in signed_form.fields.items %}
                  <tr>
                    <td>{{ field }}</td>
                    <td>{{ value }}</td>
                  </tr>
                  {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>

        {% if is_manager %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Actions</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{% url 'manage:download-signed-form' %}?form_id={{ signed_form.id }}" class="btn btn-default">Download</a>
                        <button type="button" class="btn btn-success" id="approve-form">Approve</button>
                        <button type="button" class="btn btn-danger" id="reject-form">Reject</button>
                    </div>
                </div>
                <div class="row" id="reject-form-confirmation">
                    <div class="col-xs-12">
                        <hr>

                        <form>
                            <div class="form-group">
                                <strong>Are you sure you want to reject this form?</strong> If this person is on an Active team, the entire team will lose its Active status and need to be reviewed again.
                            </div>
                            <div class="form-group">
                                <label for="reject-reason">Please provide a reason and then hit confirm. This will be emailed to the user.</label>
                                <textarea class="form-control" rows="3" name="reject-reason" id="reject-reason"></textarea>
                            </div>
                            <button type="button" id="reject-form-confirm" class="btn btn-danger">Confirm</button>
                            <button type="button" id="reject-form-cancel" class="btn btn-default">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footerscripts %}
<script nonce="{{request.csp_nonce}}">

$(document).ready(function() {

    $('#reject-form').click(function() {
        $('#reject-form-confirmation').show();
    });

    $('#reject-form-cancel').click(function() {
        $('#reject-form-confirmation').hide();
    });

    $('#reject-form-confirm').click(function() {

        var reject_reason = $("#reject-reason").val();

        var request_data = {
            status: "rejected",
            form_id: "{{ signed_form.id }}",
            administrator_message: reject_reason,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        $.post("{% url 'manage:change-signed-form-status' %}", request_data)
            .done(function() {
                location.reload();
            }).fail(function() {
                alert('Failed to reject signed form.');
            });
    });

    $('#approve-form').click(function() {

        var request_data = {
            status: "approved",
            form_id: "{{ signed_form.id }}",
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        $.post("{% url 'manage:change-signed-form-status' %}", request_data)
            .done(function() {
                location.reload();
            }).fail(function() {
                alert('Failed to approve signed form.');
            });
    });
});
</script>

{# Add a placeholder for any modal dialogs #}
<div id='page-modal' class='modal fade' tabindex='-1'>
  <div class="modal-dialog" role="document">
      <div id='page-modal-content' class="modal-content">
      </div>
  </div>
</div>
{% endblock %}
