<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Request</title>

</head>
<body>
{% load static %}
<form name="dua_access_form" action="/submit_request/" method="post">
    <input type="hidden" id="project_key" name="project_key" value="{{ project_key }}" />

    <div id="dua_options">
        <p>Please select an available Data Use Agreement to sign:</p>
        {% for agreement_form in agreement_forms %}
            <button type="button" class="btn btn-primary dua_form_select" data-agreement-form-id="{{ agreement_form.id }}">{{ agreement_form.name }}</button>            
        {% endfor %}
    </div>

    <!-- <div id="dua_forms">
    {# {% for dua in data_use_agreements %} #}
        <div class="dua_form" data-agreement-form-id="{{ dua.id }}" style="display:none;">
            {# {{ dua.agreement_form_file|get_dua_form_file_contents | safe }} #}
        </div>
    {# {% endfor %} #}
    </div> -->

    <input type="hidden" id="dua_id" name="dua_id" value="" />
    <input type="hidden" id="agreement_text" name="agreement_text" value="" />
    
    <input name="submit_form" id="submit_form" type="submit" class="btn btn-default" style="display: none;" value="Submit for approval" />
        
    <img name="loading" id="loading" src="{% static 'gears.svg' %}" style="display:none;">
    <div id="status" style="color: green; font-size: 1.5em;"></div>

    {% csrf_token %}
</form>

<script type="application/javascript">
    // Display the DUA form if a user has selected one to complete
    $('.dua_form_select').click(function() {
        var dua_id = $(this).attr("data-agreement-form-id");

        // Set the dua_id input value
        $('#dua_id').val(dua_id);
        
        // Display the form and submit button
        $('.dua_form[data-agreement-form-id="' + dua_id + '"]').show();
        $('#submit_form').show();

        // Hide the DUA form select buttons
        $('#dua_options').hide();
    });
</script>

<script type="application/javascript">
    $('form[name=dua_access_form]').submit(function(e){
        e.preventDefault();
        
        $("#loading").show();

        // Get the name of the DUA form that was submitted
        var dua_id = $('#dua_id').val();

        // Get the div element holding the DUA form
        var dua_form = $(this).find(".dua_form[data-agreement-form-id='" + dua_id + "']");

        // Replace each input field within the dua form with its value, so we have one complete dua form as a string
        dua_form.find("input").each(function() {
            $(this).replaceWith($(this).val());
        });

        // Move the content of the agreement_form block into the input in order to be captured by jQuery serialize
        $("#agreement_text").val(dua_form.text());

        $.post($(this).attr('action'), $(this).serialize(), function(res){
            $("#loading").hide();
        }).done(function() {
            $("#status").text("Access request submitted! Refreshing page...");          
            
            // Refresh the page so the user does not see the Request Access button again
            setTimeout(function(){
                location.reload();
            },2000);
        }).fail(function() {
            $("#status").text("Access request failed.");            
        });
    });
</script>

</body>
</html>