<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ project_counter }}">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ project_counter }}" aria-expanded="false"
               aria-controls="collapse{{ project_counter }}">
                <span style="font-size:24px; font-weight: bold; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ data_project.name }}</span>
                <br />
                <br />
                {{ data_project.short_description }}
            </a>
        </h4>
    </div>
    <div id="collapse{{ project_counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ project_counter }}">
        <div class="panel-body">
            {% autoescape off %}
            {{ data_project.description }}
            {% endautoescape %}

            {% if not user_logged_in %}
            <div>
                <span style="font-size: 1.5em;">
                    Please Register or Sign in before attempting to access this data resource.
                </span>
                <br />
                <br />

                <a class='btn btn-primary' href='{{ account_server_url }}?next={{ ssl_setting }}://{{ request.META.HTTP_HOST }}' role='button'>Register / Sign In</a>
            </div>
            {% else %}   
            <div>       
                <a class='btn btn-primary' role='button' href='/projects/{{ data_project.project_key }}/'>Click here for more details</a>
            </div>               
            {% endif %}
        </div>
    </div>
</div>

<div id="request_access_div_{{ project_counter }}" title="Access Request"></div>

