{% load static %}

{% if panel.additional_context.requested_access %}
    Your request is being reviewed. Please use the 'Contact Us' link for any further questions.
{% else %}
<form id="access-request-form" name="access_request_form"
  hx-post="{% url 'projects:submit_user_permission_request' %}"
  hx-target="this" hx-swap="OuterHTML" hx-indicator="#request-access-form-indicator">
    <fieldset>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="hidden" id="project_key" name="project_key" value="{{ project.project_key }}" />
                    {% if panel.additional_context.automatic_authorization %}
                    Please click the button below to confirm your access to this data project.
                    {% else %}
                    Please click the button below to confirm your request to access this dataset. An administrator will review any agreement forms you have signed and may follow up with you for additional information. Your request will typically be reviewed within five business days.
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button id="request-access-form-submit" type="submit" class="btn btn-primary">
                        {% if panel.additional_context.automatic_authorization %}
                        Confirm Access
                        {% else %}
                        Request Access
                        {% endif %}
                        <i id="request-access-form-indicator" class="hx-indicator fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
    {% csrf_token %}
</form>
<script nonce="{{ request.csp_nonce }}">
  // Handle updates
  document.getElementById('access-request-form').addEventListener("htmx:afterOnLoad", function(event) {
    notify('success', "Access request submitted!", 'thumbs-up');

    {# If automatic access is granted, reload page for updated dashboard #}
    {% if panel.additional_context.automatic_authorization %}
    // Reload
    setTimeout(function() {
      location.reload();
    }, 1000);
    {% endif %}
  });
</script>
{% endif %}
