{% load static %}

{% if panel.additional_context.requested_access %}
    Your request is being reviewed. Please use the 'Contact Us' link for any further questions.
{% else %}
    <form name="access_request_form"
      ic-post-to="{% url 'projects:submit_user_permission_request' %}"
      ic-target="this" ic-replace-target="true" ic-transition-duration="2s"
      ic-on-beforeSend="toggleFormButtons('#access_request_form');"
      ic-on-complete="toggleFormButtons('#access_request_form');"
      ic-on-success="$('#request-access-form-submit').html('Request submitted &nbsp;<i class=\'fa fa-check\'></i>').prop('disabled', 'disabled').toggleClass('btn-primary btn-success')">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="hidden" id="project_key" name="project_key" value="{{ project.project_key }}" />
                        Please click the button below to confirm your request to access this dataset. An administrator will review any agreement forms you have signed and may follow up with you for additional information. Your request will typically be reviewed within five business days.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button id="request-access-form-submit" type="submit" class="btn btn-primary">
                            Request Access <i class="ic-indicator fa fa-spinner fa-spin" style="display:none; margin-left: 5px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
        {% csrf_token %}
    </form>
{% endif %}
