{% load static %}

{% if panel.additional_context.requested_access %}
    Your request is being reviewed. Please use the 'Contact Us' link for any further questions.
{% else %}
    <!-- TODO PUT REAL URL -->
    <form name="access_request_form" action="/projects/submit_user_permission_request/" method="post">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="hidden" id="project_key" name="project_key" value="{{ project.project_key }}" />
                        To gain access to this dataset, an administrator will review any agreement forms you have signed and may follow up with you for additional information. Please click below to confirm your request.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Request Access</button>
                        <img name="loading" id="loading" src="{% static 'gears.svg' %}" style="display:none;">
                        <div id="status" style="color: green; font-size: 1.5em;"></div>
                    </div>
                </div>
            </div>
        </fieldset>
        {% csrf_token %}
    </form>
{% endif %}

<script type="application/javascript">
    $('form[name=access_request_form]').submit(function(e){
        e.preventDefault();

        $("#loading").show();

        $.post($(this).attr('action'), $(this).serialize(), function(res){
            $("#loading").hide();
        }).done(function() {
            $("#status").text("Access request submitted! Refreshing page...");

            // Refresh the page so the user does not see the Request Access button again
            setTimeout(function(){
                location.reload();
            },2000);
        }).fail(function() {
            $("#status").text("Access request failed.");
        });
    });
</script>
