{% if panel.additional_context.team.team_leader == user %}
    {% if panel.additional_context.team.status == "Active" %}
        <div class="alert alert-success" role="alert">
            Your team has been approved by the challenge administrators. Please wait for access.
        </div>
    {% elif panel.additional_context.team.status == "Deactivated" %}
        <div class="alert alert-danger" role="alert">
            Your team was deactivated by challenge administrators.
        </div>
    {% elif panel.additional_context.team.status == "Ready" %}
        <div class="alert alert-warning" role="alert">
            You marked your team as finalized. Please wait for a challenge administrator to approve your team.
        </div>
    {% else %}
        <div class="alert alert-success" role="alert">
            You are the leader of this team. If all members of your team have already registered and are listed below, please click the Finalize button below to lock in your team for the challenge.
        </div>
    {% endif %}

    {% if panel.additional_context.team_has_pending_members %}
        <div class="alert alert-danger" role="alert">
            You have a pending request from someone wishing to join your team. Please use the Accept or Reject button below to complete the request.
        </div>
    {% endif %}

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Membership</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in panel.additional_context.team.participant_set.all %}
            <tr>
                <td>{{ participant.user.email }}</td>
                <td>
                {% if participant.team_approved %}
                    Approved
                {% elif participant.team_pending %}
                    <button type="button" class="btn btn-success btn-xs accept-participant" data-project="{{ project.project_key }}" data-participant="{{ participant.user.email }}">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
                    </button>

                    <button type="button" class="btn btn-danger btn-xs reject-participant" data-project="{{ project.project_key }}" data-participant="{{ participant.user.email }}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reject
                    </button>
                {% else %}
                    Error
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if panel.additional_context.team.status == "Pending" and not panel.additional_context.team_has_pending_members %}
    <button type="button" class="btn btn-danger finalize-team" data-project="{{ project.project_key }}" data-team="{{ panel.additional_context.team.team_leader.email }}">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Finalize
    </button>
    {% endif %}
{% else %}
    {% if panel.additional_context.participant.team_wait_on_leader %}
        <p>No action needed at this time. We are waiting for your team leader <span class="label label-default">{{ panel.additional_context.participant.team_wait_on_leader_email }}</span> to create a team and approve your access. </p>
        <hr>
        <p>Is your team leader using a different email address? Click the button below to return to the team join step.</p>

        <form action="/projects/leave_team/" method="post">
            {% csrf_token %}
            <input name="project_key" type="hidden" value="{{ project.project_key }}"/>
            <button class="btn btn-default btn-sm" type="submit">Restart Team Setup</button>
        </form>

    {%  elif panel.additional_context.participant.team_pending %}
        No action needed at this time. We are waiting for your team leader {{ panel.additional_context.team.team_leader }} to approve your request to join the team.
    {%  elif panel.additional_context.participant.team_approved %}
        <div class="alert alert-success alert-dismissible" role="alert">
            You have been approved to join team {{ panel.additional_context.participant.team }}. Please wait for your team to be finalized by your team leader and/or reviewed by the challenge administrators before your team can participate.
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            You have not yet joined a team. Please either join a team or create one. To join an existing team, enter the email address of your team leader. To create a team as its team leader, please click the Create Team button below. <strong>Note: student participants must have at least one faculty member on their team, and the faculty member should be the team leader. <span style="color: #d9534f;">Students may not be team leaders.</span></strong>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h4>Joining a team?</h4>

                <form action="/projects/join_team/" method="post">
                    {% csrf_token %}

                    <input name="project_key" type="hidden" value="{{ project.project_key }}"/>

                    <div class="input-group">
                        <input class="form-control" type="email" name="team_leader" placeholder="Team leader's email..." required/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Join Team</button>
                        </span>
                    </div>
                </form>
            </div>
            
            <div class="col-md-4">
                <h4>Leading a team?</h4>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#new_team_modal">Create Team</button>
            </div>
        </div>

        <div class="modal fade" id="new_team_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create Team Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to create a new team and become its team leader?
                    </div>
                    <div class="modal-footer">
                        <form action="/projects/create_team/" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                            <input name="project_key" type="hidden" value="{{ project.project_key }}"/>
                            <button type="submit" class="btn btn-primary">Sign me up!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

{% block footerscripts %}
<script type="application/javascript">
    $('.finalize-team').click(function(){
        var project_key = $(this).data("project");
        var team = $(this).data("team");

        var request_data = {
            project_key: project_key,
            team: team,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };

        $.post("/projects/finalize_team/", request_data)
            .done(function() {
                // Refresh the page so the user does not see this button again
                setTimeout(function(){
                    location.reload();
                },0);
            }).fail(function() {
                // TODO Fail message needed    
            });
    });
</script>

<script type="application/javascript">
    $('.accept-participant').click(function(){
        var project_key = $(this).data("project");
        var participant = $(this).data("participant");

        var request_data = {
            project_key: project_key,
            participant: participant,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };
        
        $.post("/projects/approve_team_join/", request_data)
            .done(function() {
                // Refresh the page so the user does not see this button again
                setTimeout(function(){
                    location.reload();
                },0);
            }).fail(function() {
                // TODO Fail message needed    
            });
    });
</script>

<script type="application/javascript">
    $('.reject-participant').click(function(){
        var project_key = $(this).data("project");
        var participant = $(this).data("participant");

        var request_data = {
            project_key: project_key,
            participant: participant,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };
        
        $.post("/projects/reject_team_join/", request_data)
            .done(function() {
                // Refresh the page so the user does not see this button again
                setTimeout(function(){
                    location.reload();
                },0);
            }).fail(function() {
                // TODO Fail message needed    
            });
    });
</script>
{% endblock %}
