{% load projects_extras %}

<form name="agreement_form_container" action="{% url 'projects:save_signed_agreement_form' %}" method="post">
    {% if panel.additional_context.agreement_form.description is not None and panel.additional_context.agreement_form.description != "" %}
        <div class="alert alert-warning" role="alert">
            {{ panel.additional_context.agreement_form.description }}
        </div>
    {% endif %}

    <div class="agreement_form_contents">
        {# Check source of agreement form content #}
        {% if panel.additional_context.agreement_form.type == 'MODEL' %}
        {{ panel.additional_context.agreement_form.content | safe }}
        {% else %}
        {{ panel.additional_context.agreement_form.form_file_path|get_html_form_file_contents | safe }}
        {% endif %}
    </div>

    <input type="hidden" class="project_key" name="project_key" value="{{ project.project_key }}" />
    <input type="hidden" class="agreement_form_id" name="agreement_form_id" value="{{ panel.additional_context.agreement_form.id }}" />
    <input type="hidden" class="agreement_text" name="agreement_text" value="" />

    <hr>

    <div class="submit_form">
      <button id="agreement-form-submit" type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Processing">Submit</button>
    </div>

    {% csrf_token %}
</form>
