{% load projects_extras %}

<div class="alert alert-info">
    This agreement form is hosted on an external website. Please follow the instructions below and click the button to be taken to the form. <strong>This step will remain visible until your team is activated by an administrator, but do not complete this form more than once.</strong></p>
</div>

<p>
    <strong>Form instructions:</strong> {{ panel.additional_context.agreement_form.description }}
</p>

<p>
    <a class="btn btn-primary" href="{{ panel.additional_context.agreement_form.external_link }}" target="_blank" role="button" id="form_link" data-form-id="{{ panel.additional_context.agreement_form.id }}">Go to {{ panel.additional_context.agreement_form.name }}</a>
</p>

<script nonce="{{request.csp_nonce}}">
    $('#form_link').on('click', function(e) {

        var agreement_form_id = $(this).data('form-id');
        var project_key = "{{ project.project_key }}";

        var data = {
            "agreement_form_id": agreement_form_id,
            "project_key": project_key
        }

        $.ajax({
            url: "{% url 'projects:save_signed_external_agreement_form' %}",
            type : "POST",
            data: data,
            success : function(json) {
                // Reload the page so that the next step becomes visible
                location.reload();
            },
            error : function(xhr,errmsg,err) {
                notify('danger', 'Failed to record this action.', 'exclamation-sign');
            }
        });
});
</script>
