{% extends "email/email_base.html" %}

{% block title %}DBMI Data Portal - {{ challenge.project_key }} solution submitted by your team{% endblock %}

{% block content %}

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    Hi,
</p>

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    Team member {{ submitter }} has submitted a solution to task {{ task }} for project {{ challenge.name }} on behalf of your team.
</p>

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    Out of {{ max_submissions }} max submissions for this particular task, your team has now made {{ submission_count }} submissions. Your team may delete this or a previous submission and resubmit if you wish to.  
</p>

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    Submission metadata:
</p>

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    <pre>{{ submission_info|linebreaksbr }}</pre>
</p>

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">
    Thank you.
</p>

{% endblock %}
