{% extends "email/email_base.html" %}

{% block title %}DBMI Data Portal - Team Status Changed{% endblock %}

{% block content %}

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Hi,</p>

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">This is a notification that a {{ project.name }} challenge administrator has changed your team status to <strong>{{ status }}</strong>.</p>

{% if reason %}
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;"><i>{{ reason }}</i></p>
{% endif %}

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Team statuses have the following meanings:
    <ul>
        <li><strong>Pending</strong> - A team can add new members but it is not approved yet to participate.</li>
        <li><strong>Ready</strong> - A team has all of its members registered and is awaiting approval to participate.</li>
        <li><strong>Active</strong> - A team has been approved by a challenge administrator to participate.</li>
        <li><strong>Deactivated</strong> - A team has been blocked by an administrator from any further participation.</li>
    </ul>
</p>

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">You can <a href="{{ site_url }}{{ project.project_key }}/">click here</a> to return to the {{ project.name }} challenge page.</p>

<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Thank you.</p>

{% endblock %}
