a.workflow-panel-heading-link,
a.workflow-panel-heading-link:hover,
a.workflow-panel-heading-link:active,
a.workflow-panel-heading-link:visited,
a.workflow-panel-heading-link:focus {
    text-decoration:none;
    color: white;
}

a.workflow-step-panel-heading-link,
a.workflow-step-panel-heading-link:hover,
a.workflow-step-panel-heading-link:active,
a.workflow-step-panel-heading-link:visited,
a.workflow-step-panel-heading-link:focus {
    text-decoration:none;
    color: #337ab7;
}

.workflow-panel-heading-link .panel-title:after {
    font-family:'Glyphicons Halflings';
    float: right;
    content:"\e113";
}

.workflow-panel-heading-link.collapsed .panel-title:after {
    content:"\e114";
}

.workflow-step-panel-heading-link .panel-title:after {
    font-family:'Glyphicons Halflings';
    float: right;
    content:"\e113";
}

.workflow-step-panel-heading-link.collapsed .panel-title:after {
    content:"\e114";
}
