{% extends "workflows/step.html" %}

{% block body %}
<div class="step-video-container">
 {% if step.status == StepStateStatus.Current.value %}
  <video id="step-{{ step.step.id }}-video" class="video-js">
    <source src="{{ video }}" type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
      </a>
    </p>
  </video>
  <form id="{{ step.step.slug }}-form" name="{{ step.step.slug }}-form"
        ic-post-to="{% url 'workflows:step-state' step_state_id=step.id %}"
        ic-on-error="handleFormError(status, str, xhr, '#{{ step.step.slug }}-form')"
        ic-target="#{{ step.step.slug }}-content"
        ic-replace-target="true"
        ic-transition-duration="2s"
        ic-on-beforeSend="toggleFormButtons('#{{ step.step.slug }}-form');"
        ic-on-complete="toggleFormButtons('#{{ step.step.slug }}-form');"
        ic-on-success="$('#{{ step.step.slug }}-submit').html('Submitted &nbsp;<i class=\'fa fa-check\'></i>').prop('disabled', 'disabled').toggleClass('btn-primary btn-success')">
    {% csrf_token %}
    <input type="hidden" name="video-tracking" id="{{ step.step.slug }}-video-tracking" value="" />
  </form>
  {% elif step.status == StepStateStatus.Completed.value %}
    <p>This step has been completed</p>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
  {{ block.super }}
 {% if step.status == StepStateStatus.Current.value %}
  {% if not step.step.indefinite %}
  <button id="{{ step.step.slug }}-submit" type="submit" form="{{ step.step.slug }}-form" class="btn btn-primary">
    Next
    <i class="ic-indicator fa fa-spinner fa-spin" style="display:none; margin-left: 5px;"></i>
  </button>
  {% endif %}
  <script type="text/javascript">
    $(function(){

      function addTrackingData(event, data) {

        // Get existing tracking data
        if ( $('#{{ step.step.slug }}-video-tracking').val() ) {
          var tracking = JSON.parse($('#{{ step.step.slug }}-video-tracking').val());
        } else {
          var tracking = [];
        }

        // Set the object tracking the event
        var trackingEvent = {
          event: event,
          timestamp: Date.now(),
          data: data
        };

        console.log(`Event ${JSON.stringify(event)}`);
        console.log(`TrackingEvent ${JSON.stringify(trackingEvent)}`);

        // Add it to the data
        tracking.push(trackingEvent);

        // Update the container with the new tracking data
        $('#{{ step.step.slug }}-video-tracking').val(JSON.stringify(tracking));
      }

      var player = videojs('step-{{ step.step.id }}-video', {
        controls: true,
        autoplay: false,
        preload: 'auto',
        fluid: true,
        plugins: {
          // Add any plugins you want to use here
        }
      });

      player.on('ready', function() {
        console.log('Video is ready');
      });

      player.on('error', function() {
        console.error('Error occurred while playing the video');
      });

      player.eventTracking({
        performance: function(data) {
          console.log('tracking:performance', data);

          // Add tracking data to the hidden input
          addTrackingData('tracking:performance', data);
        }
      });

      player.on('tracking:firstplay', function(e, data) {
        console.log(e.type, data);

          // Add tracking data to the hidden input
          addTrackingData(e.type, data);
      });

      player.on('error', function(e) {
        console.log(e.type, { message: e.message });
      });

      player.on('tracking:play', function(e, data) {
        console.log(e.type, data);

          // Add tracking data to the hidden input
          addTrackingData(e.type, data);
      });

      player.on('tracking:pause', function(e, data) {
        console.log(e.type, data);

          // Add tracking data to the hidden input
          addTrackingData(e.type, data);
      });

      player.on('tracking:first-quarter', function(e, data) {
        console.log(e.type, data);

          // Add tracking data to the hidden input
          addTrackingData(e.type, data);
      });

      player.on('tracking:second-quarter', function(e, data) {
        console.log(e.type, data);

          // Add tracking data to the hidden input
          addTrackingData(e.type, data);
      });

      player.on('tracking:third-quarter', function(e, data) {
        console.log(e.type, data);

          // Add tracking data to the hidden input
          addTrackingData(e.type, data);
      });

      player.on('tracking:fourth-quarter', function(e, data) {
        console.log(e.type, data);

          // Add tracking data to the hidden input
          addTrackingData(e.type, data);
      });

      player.on('tracking:buffered', function(e, data) {
        console.log(e.type, data);
      });

      player.on('tracking:seek', function(e, data) {
        console.log(e.type, data);

          // Add tracking data to the hidden input
          addTrackingData(e.type, data);
      });
    });
  </script>
  {% endif %}
{% endblock %}
