{% load static %}
{% load projects_extras %}
<!DOCTYPE html>
<html lang="en">
    <head>
      {% include 'head.html' %}

      <title>{% block tab_name %}DBMI Portal{% endblock %}</title>

      {% block headscripts %}
      {% endblock %}
    </head>
    <body>
        {% include 'navigation.html' %}

        {% block content %}
        {% endblock %}

        {# Add a placeholder for the modal contact form #}
        <div id='contact-form-modal' class='modal fade' tabindex='-1'></div>

        {# Lazy load scripts we don't need immediately #}
        {% include 'scripts.html' %}

        {% block footerscripts %}
        {% endblock %}
    </body>
</html>
