{% extends 'base.html' %}
{% load static %}
{% load contact_extras %}
{% load projects_extras %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12" id="hero">
            <div id="hero-heading">
                <h1>DBMI Data Portal</h1>
                <h2>Data and computing resources from the <br />
                    <strong style="font-weight: 800; letter-spacing: .5px;">Department of Biomedical Informatics (DBMI)</strong><br />
                    in the Blavatnik Institute<br />
                    at Harvard Medical School</h2>
            </div>
            <img src="{% static 'images/dbmi-data-portal-hero-2687x717.jpg' %}" class="img-responsive" id="hero-image" alt="data concept image"> </div>
    </div>
</div>
<div class="container"> </div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
    <h3>Data Sets</h3>
            <p>The <strong>i2b2 NLP data sets</strong> previously released on i2b2.org  are now hosted here on the DBMI Data Portal under their new moniker, <strong>n2c2</strong> (National NLP Clinical Challenges):</p>
            <ul>
                <li><a href="{% url 'projects:view-project' 'n2c2-nlp' %}">n2c2 NLP Research Data Sets</a></li>
            </ul>
            <p>These data sets are the result of annual NLP challenges dating back to 2006, originally organized as part of the i2b2 project (Informatics for Integrating Biology and the Bedside).</p>
                  </div>
        <div class="col-lg-4 col-md-4">
               <h3>Data Challenges</h3>
            <p>The n2c2 challenge series now continues under the stewardship of DBMI, with data access and challenge participation administered through this data portal and additional information provided through the public <a href="https://n2c2.dbmi.hms.harvard.edu"><strong>n2c2 website</strong></a>.</p>
            <p>Our 2022 n2c2 challenge culminated with a <a href="https://s4.goeshow.com/amia/annual/2022/schedule_at_a_glance.cfm?session_key=194F1BB1-A7DB-5E7D-5EDE-00AB55F4E51F&session_date=Saturday,%20Nov%2005,%202022" target="_blank">workshop <span class="fal fa-sm fa-external-link"></span></a> at the <a href="https://amia.org/education-events/amia-2022-annual-symposium" target="_blank">2022 AMIA Annual Symposium <span class="fal fa-sm fa-external-link"></span></a>. Thanks to all who participated! Results of Track 2 on Social Determinants of Health will also be published in a December 2023 <a href="https://academic.oup.com/jamia/pages/cfp-social-determinants" target="_blank">special issue of <em>JAMIA <span class="fal fa-sm fa-external-link"></span>.</em></a></p>    
        </div>
        <div class="col-lg-4 col-md-4">
            <h3>About Us</h3>
            <p>The faculty and data scientists of <a href="https://dbmi.hms.harvard.edu"><strong>DBMI</strong></a> are working at the nexus of software engineering, biological sciences, and the clinical practice of medicine. Learn more by checking out the <a href="https://github.com/hms-dbmi" target="_blank">DBMI Github repository <span class="fal fa-sm fa-external-link"></span></a> and this selection of resources from our faculty labs:</p>
            <ul>
                <li><a href="https://avillach-lab.hms.harvard.edu/access-data" target="_blank">Avillach Lab — Access to Data <span class="fal fa-sm fa-external-link"></span></a></li>
                <li>Cai Lab — <a href="https://celehs.github.io/" target="_blank">Software <span class="fal fa-sm fa-external-link"></span></a> | <a href="https://celehs.github.io/webapps.html" target="_blank">Web Apps <span class="fal fa-sm fa-external-link"></span></a></li>
                <li><a href="https://github.com/farhat-lab" target="_blank">Farhat Lab — Github Repository <span class="fal fa-sm fa-external-link"></span></a></li>
                <li><a href="http://gehlenborglab.org/research/projects/" target="_blank">Gehlenborg Lab — Projects <span class="fal fa-sm fa-external-link"></span></a></li>
                <li><a href="http://www.liheng.org/sw.shtml" target="_blank">Li Lab — Software &amp; Database <span class="fal fa-sm fa-external-link"></span></a></li>
                <li><a href="https://compbio.hms.harvard.edu/software-1" target="_blank">Park Lab — Software <span class="fal fa-sm fa-external-link"></span></a></li>
                <li><a href="https://www.chiragjpgroup.org/resources.html" target="_blank">Patel Group — Resources <span class="fal fa-sm fa-external-link"></span></a></li>
                <li><a href="https://www.rajpurkarlab.hms.harvard.edu" target="_blank">Rajpurkar Lab — Datasets and Codebases <span class="fal fa-sm fa-external-link"></span></a> | <a href="https://www.rajpurkarlab.hms.harvard.edu/maida" target="_blank">MAIDA Initiative <span class="fal fa-sm fa-external-link"></span></a></li>
                <li><a href="http://genetics.bwh.harvard.edu/wiki/sunyaevlab/software" target="_blank">Sunyaev Lab — Software <span class="fal fa-sm fa-external-link"></span></a></li>
                <li>Zitnik Lab — <a href="https://zitniklab.hms.harvard.edu/data/" target="_blank">Datasets <span class="fal fa-sm fa-external-link"></span></a> | <a href="https://zitniklab.hms.harvard.edu/software/" target="_blank">ML Tools <span class="fal fa-sm fa-external-link"></span></a></li>
            </ul></p>

        </div>
    </div>
</div>
<footer class="row container-fluid" style="margin-top: 3em;">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-5" style="padding-left: 0; padding-top: 1em;"> <img src="{% static 'images/Blavatnikbioinformatics-nomargin.png' %}" style="margin-top: .8rem; "class="img-fluid" width="350" alt="Logo for Department of Biomedical Informatics | Blavatnik Institute | Harvard Medical School"></div>
        <div class="col-lg-4 col-md-4 col-sm-4" style="padding-left: 6em; font-size: 1.2rem; font-weight: 300;">
            <p><br />
                Department of Biomedical Informatics<br />
                Harvard Medical School<br />
                10 Shattuck Street, Boston, MA    02115</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3" style="padding-left: 2em; font-size: 1rem; font-weight: 300;">
            <p><br />
                &copy;2023 by the President and Fellows of Harvard College</p>
        </div>
    </div>
</footer>
{% endblock %}
