{% extends 'base.html' %}
{% load projects_extras %}
{% load bootstrap3 %}
{% load tz %}

{% block headscripts %}
{% endblock %}

{% block tab_name %}{{ team.data_project.name }}{% endblock %}
{% block title %}{{ team.data_project.name }}{% endblock %}
{% block subtitle %}{{ team.data_project.short_description }}{% endblock %}

{% block extrainfo %}
<button type="button" class="btn btn-success" data-toggle="team-status-tooltip" data-placement="left" title="Your team has been approved for access to this challenge. In the sections below, you will be able to download training and test data sets and upload your solutions.">
    Team status: active
</button>
{% endblock %}

{% block content %}

{% if messages %}
{% include 'messages.html' %}
{% endif %}

<div class="row">
    <div class="col-md-6">

        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Challenge Description</a></h2>
            </div>
            <div class="panel-body pre-scrollable">
                {% autoescape off %}
                {{ team.data_project.description }}
                {% endautoescape %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Your Submissions</a></h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Submitted By</th>
                            <th>Date</th>
                            <th>Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for submission in team.get_submissions %}
                        <tr>
                            <td>
                                {{ submission.participant.user.email }}
                            </td>
                            <td>
                                {{ submission.upload_date|timezone:"America/New_York" }}
                            </td>
                            <td>
                                <div class="submission-info-button" data-submission-uuid="{{ submission.uuid }}">
                                    <button class="btn btn-primary btn-xs view-submission-info" data-toggle="modal" data-target="#submission-info-modal">View</button>
                                </div>
                                <div class="submission-info-details" style="display: none;">
                                    {{ submission.submission_info }}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Your Team</a></h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Submissions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant in team.participant_set.all %}
                        <tr>
                            <td>
                                {{ participant.user.email }}
                                {% if team.team_leader == participant.user %}
                                    &nbsp;&nbsp;<span class="label label-primary">Team leader</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ participant.participantsubmission_set.all|length }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Your Agreement Forms</a></h2>
            </div>
            <div class="panel-body">
                {% for agreement_form in final_signed_agreement_forms %}
                    <h4>{{ agreement_form.agreement_form.name }}</h4>
                    <div class="row">
                        <div class="col-md-8">
                            Signed {{ agreement_form.date_signed|timezone:"America/New_York" }} (EST)
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default btn-sm" href="/projects/signed_agreement_form/?signed_form_id={{ agreement_form.id }}&project_key={{ project.project_key }}" target="_blank" role="button">View</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="col-md-6">
        {% if project.accepting_user_submissions %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Challenge Submission</a></h2>
            </div>
            <div class="panel-body">
            {% if team.get_number_of_submissions_left == 0 %}
                Your team has used up all of its available submissions.
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Please use the form below to submit an official solution on behalf of your team. <strong>For the file upload, only .zip files will be accepted.</strong> While any member of the team may submit a solution, the total submissions for a team is capped at 3. <strong>Your team has {{ team.get_number_of_submissions_left }} submissions left</strong> before reaching that cap.
                </div>

                <form id="participant-submission-form">           
                    {% if project.submission_form_file_path %}
                        <div class="submission_form_contents">
                            {{ project.submission_form_file_path|get_html_form_file_contents | safe }}
                        </div>
                    {% endif %}
                                    
                    <div class="form-group">
                        <label class="btn btn-default" id="file-upload-browse">
                            Click to select a zip file... <input id="file-upload-file" name="file" type="file" style="display: none;" accept=".zip">
                        </label>
                    </div>

                    <div class="form-group">                        
                        <input id="file-upload-filename" name="filename" type="text" hidden="true" />
                        <input id="file-upload-project" name="project" type="text" hidden="true" value="{{ project.project_key }}" />
                        <button id="file-upload-submit" type="submit" class="btn btn-danger" style="display: none;"
                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Uploading file..."></button>
                    </div>

                    {% csrf_token %}
                </form>

            {% endif %}
            </div>
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Available Downloads</a></h2>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger" role="alert">
                    Reminder: Gaining access to any portion of the 2018 n2c2 data commits your team to participate in the evaluation that will be run by n2c2, to submit a paper describing your developed system, and to present your work in the follow-up workshop to be organized by n2c2 (should your paper be accepted for presentation). <b>Teams cannot withdraw after gaining access to the data.</b> (See <a href="https://n2c2.dbmi.hms.harvard.edu/conduct.php">Rules of Conduct</a> and <a href="https://n2c2.dbmi.hms.harvard.edu/dua.php">Data Use Agreement</a>).
                </div>

                {% for file in project.hostedfile_set.all %}
                    {% if file.enabled or user.is_superuser %}
                        <hr>
                        <h4>{{ file.long_name }}</h4>
                        <div class="row">
                            <div class="col-md-9">
                                {{ file.description }}
                            </div>
                            <div class="col-md-3">
                                <a href="/download_dataset/?file_id={{ file.id }}" class="btn btn-default download-file-button" download>Download</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="submission-info-modal" tabindex="-1" role="dialog" aria-labelledby="submission-info-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="submission-info-modal">Submission Info</h4>
            </div>
            <div class="modal-body">
                <pre id="submission-info-display">
                    ...
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" id="delete-submission">Delete Submission</button>
                <button type="button" class="btn btn-danger" id="delete-submission-confirm" data-submission-uuid="" style="display: none;">Are you sure? Click to confirm and delete</button>
                
                <div class="model-error alert alert-danger text-center" style="display: none; margin-top: 10px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerscripts %}
<script type="application/javascript">
    // Populate the submission info modal with data about the selected submission
    $('.submission-info-button').on('click', function() {
        var submission_uuid = $(this).data('submission-uuid');

        // Grab the information from an adjacent div
        var submission_info = $(this).next(".submission-info-details").text();
        
        // Parse the string into an actual json
        var submission_info_json  = JSON.parse(submission_info);
        var submission_info_json_prettyprint = JSON.stringify(submission_info_json, null, 4);

        // Paste the json into the modal and pretty print it
        $('#submission-info-display').html(submission_info_json_prettyprint);

        // Update the submission-uuid data attribute
        $('#delete-submission-confirm').attr('data-submission-uuid', submission_uuid);
    });
</script>

<script type="application/javascript">
    // When someone clicks the delete button, display the confirm button
    $('#delete-submission').on('click', function() {
        $('#delete-submission').hide();
        $('#delete-submission-confirm').show();
    });

    $('#delete-submission-confirm').on('click', function() {
        var submission_uuid = $(this).data('submission-uuid');

        $.ajax({
            method: "POST",
            data: {"submission_uuid": submission_uuid},
            url: "/delete_participantsubmission/",
            success: function (data, textStatus, jqXHR) {
                $('#delete-submission-confirm').removeClass('btn-danger');
                $('#delete-submission-confirm').addClass('btn-success');
                $('#delete-submission-confirm').text('Submission deleted. Refreshing page...');

                // Refresh the page.
                setTimeout(function(){
                    window.location = window.location.pathname
                }, 1500);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#delete-submission-confirm').text(errorThrown);
                $('.model-error').text(jqXHR.responseText + " Refreshing page...");
                $('.model-error').show();

                // Refresh the page.
                setTimeout(function(){
                    window.location = window.location.pathname
                }, 5000);
            }
        });
    });
</script>

<script type="application/javascript">
    // Enable the team status tooltip
    $(function () {
        $('[data-toggle="team-status-tooltip"]').tooltip()
    });
</script>

<script type="application/javascript">

    function objectifyForm( formArray ) {
        var returnArray = {};
        for (var i = 0; i < formArray.length; i++){
            returnArray[formArray[i]['name']] = formArray[i]['value'];
        }
        return returnArray;
    }

    $(document).ready(function() {

        // Automatically update the filename field when a file is selected by the user.
        $(document).on('change', '#file-upload-file', function () {
            var input = $(this);
            var fileName = input.val().replace(/\\/g, '/').replace(/.*\//, '');

            $('#file-upload-submit').text('Submit ' + fileName);
            $('#file-upload-browse').hide();
            $('#file-upload-submit').show();

            $('#file-upload-filename').val(fileName);
        });

        // Set the handler for the participant submission form.
        $(document).on('submit', '#participant-submission-form', function (event) {

            // Get the file.
            var file = $("#participant-submission-form input[name=file]").prop('files')[0];
            if (file == null) {
                error('A file has not been selected, please try again');
                return false;
            }

            // Only allow zip files for upload.
            if (file.name.split('.').pop() != 'zip') {
                error('Only .zip files are accepted.');
                return false;
            }

            // Get the form data.
            var form = objectifyForm($('#participant-submission-form').serializeArray());

            // Remove the file from the serialized form as it will not be needed yet.
            delete form['file'];

            // Add info about the file.
            form['content_type'] = file.content;

            // Disable the form and the buttons.
            $("#file-upload-submit").button('loading');

            $.ajax({
                method: "POST",
                data: form,
                url: "/upload_participantsubmission_file/",
                success: function (data, textStatus, jqXHR) {
                    console.log("submit.success: " + textStatus);
                    upload(data["post"], data["file"], file, form);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("submit.error: " + errorThrown);
                    error('Something happened, please try again');
                }
            });

            // Return false to prevent a form submit effect
            return false;
        });

        // Uploads the file to AWS S3.
        function upload(post, fileRecord, file, submission_form) {
            console.log('upload: ' + fileRecord["filename"]);

            // Construct the needed data using the policy for AWS
            var form = new FormData();
            var fields = post["fields"];
            for(var key in fields) {
                form.append(key, fields[key]);
            }

            // Add the file
            form.append('file', file);

            // Send the file to S3.
            $.ajax({
                    url: post["url"],
                    datatype: 'xml',
                    data: form,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    xhr: function () {

                        // Add a progress handler
                        var xhr = $.ajaxSettings.xhr();
                        xhr.upload.onprogress = progress;

                        // Allow aborting the upload.
                        $('#file-upload-close-button').click(function() {

                            xhr.abort();
                        });
                        return xhr;
                    },
                    success: function (data, textStatus, jqXHR) {
                        console.log('upload.success: ' + textStatus);

                        // Do not allow the upload to be cancelled at this point.
                        $("#participant-submission-form :input").prop("disabled", true);

                        // Inform the server that the upload completed.
                        complete(fileRecord, submission_form);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('upload.error: ' + errorThrown + ', ' + textStatus);

                        // Check if aborted.
                        if( !jqXHR.getAllResponseHeaders() ) {
                            // Cancelled notification.
                            aborted();
                        } else {
                            error('Something happened, please try again');
                        }
                    }
                });
        }

        function complete(fileRecord, submission_form) {
            console.log('complete: ' + fileRecord["filename"]);
            
            // Combine information about the fileservice metadata on the file with the 
            // original form submission.
            $.extend(fileRecord, submission_form)

            // Inform the server that the upload completed.
            $.ajax({
                method: "PATCH",
                data: fileRecord,
                url: "/upload_participantsubmission_file/",
                success: function (data, textStatus, jqXHR) {
                    console.log("complete.success: " + textStatus);

                    // Notify.
                    success();

                    // Refresh the page.
                    setTimeout(function(){
                        window.location = window.location.pathname
                    }, 3000);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("complete.error: " + errorThrown);

                    // Error with message.
                    error('Something happened, please try again');
                }
            });
        }

        function progress(event) {
            // Ensure it can be used
            if (event.lengthComputable) {
                var progress = event.loaded / event.total * 100;
                console.log('upload.progress: ' + progress);
            }
        }

        function error(message) {
            $('#file-upload-submit').text('File failed to upload');
            notify('danger', message, 'glyphicon glyphicon-remove');
        }

        function aborted() {
            $('#file-upload-submit').text('File uploaded canceled');
            notify('warning', 'The upload was cancelled', 'glyphicon glyphicon-warning-sign');
        }

        function success() {
            // Add a little delay
            setTimeout(function(){
                $('#file-upload-submit').text('File uploaded successfully!');                
                notify('success', 'The upload has completed successfully! Refreshing page.', 'glyphicon glyphicon-ok');
            }, 500);
        }
    });
</script>
{% endblock %}