<div class="alert alert-info" role="alert">
    Your team has been approved for access to this challenge. In the sections below, you will be able to download training and test data sets and upload your solutions.
</div>

<div class="panel-group" id="accordion">

    {% for file in data_files %}
    <div class="panel panel-default">
        <div class="panel-heading training-data-step" role="tab" id="heading-training-data">
            <h2 class="panel-title">
                <div class="{% if not file.enabled %}blocked-step-header{% endif %}">
                    <span>{{ file.long_name }}</span>
                </div>
            </h2>
        </div>
        {% if file.enabled %}
        <div class="panel-body">
            <p>{{ file.description }}</p>

            <p><strong><small>Disclaimer here... Something about not sending this to other people and that you are agreeing to compete in this contest if you download. Your download is logged.</small></strong></p>

            <button type="button" class="btn btn-primary download-file-button" data-file-id="{{ file.id }}">Request Download Link</button>
        </div>
        {% endif %}
    </div>
    {% endfor %}

</div>

<script type="application/javascript">
    $('.download-file-button').click(function(){
        var button = $(this);
        var file_id = $(this).data("file-id");

        var request_data = {
            file_id: file_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };
        
        $.ajax({
            type:"GET",
            url: "/download_dataset/",
            data: request_data,
            success: function(data) {
                var new_button = "<a href=\"" + data + "\" download class=\"btn btn-success\">Download Now</a>";
                button.replaceWith(new_button);
            },
            error: function() {
                button.replaceWith("<p>Failed to get download link. Please try again in a few minutes.</p>");
            }
        });
    });
</script>