<div class="alert alert-info" role="alert">
    Your team has been approved for access to this challenge. In the sections below, you will be able to download training and test data sets and upload your solutions.
</div>

<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading training-data-step" role="tab" id="heading-training-data">
            <h2 class="panel-title">
                <div class="">
                    <span>Training Data</span>
                </div>
            </h2>
        </div>
        <div class="panel-body">
            Coming soon.
        </div>
    </div>

</div>