{% extends 'base.html' %}
{% load projects_extras %}
{% load bootstrap3 %}

{% block headscripts %}
{% endblock %}

{% block title %}{{ project.name }}{% endblock %}
{% block subtitle %}{{ project.short_description }}{% endblock %}

{% block content %}

{% if messages %}
{% include 'messages.html' %}
{% endif %}

<div class="row">
    
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Description</a>
                </h2>
            </div>
            <div class="panel-body pre-scrollable">
                {% autoescape off %}
                {{ project.description }}
                {% endautoescape %}
            </div>
        </div>
    </div>

    <div class="col-md-6">
    {% if not user_logged_in %}
        {% if project.is_contest %}
            <div class="alert alert-danger" role="alert">
                To compete in {{ project.short_description }} please first <a href="{{ request.build_absolute_uri|get_login_url }}">login or register</a>.
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                To request access to this dataset please first <a href="{{ request.build_absolute_uri|get_login_url }}">login or register</a>.
            </div>
        {% endif %}
    {% elif not access_granted %}
        {% if project.is_contest %}
            <div class="alert alert-info" role="alert">
                To compete in {{ project.short_description }}, please complete the registration process below one step at a time. <strong>All members of your team must complete all registration steps before your account can be activated.</strong>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                To request access to this dataset please complete registration steps below</a>.
            </div>
        {% endif %}

        <div class="panel-group" id="accordion">

            <!-- Verify email -->
            <div class="panel panel-default">
                <div class="panel-heading project-registration-step" role="tab" id="heading-email">
                    <h2 class="panel-title">
                        <div class="{% if email_verified %}completed-step-header{% elif current_step == 'verify_email' %}current-step-header{% else %}blocked-step-header{% endif %}">
                            <span>Verify Your Email</span>
                        </div>
                    </h2>
                </div>
                {% if current_step == 'verify_email' %}
                <div class="panel-body">
                    Your primary email on record needs to be verified. Please look in your inbox for the verification email or click below to send another one:
                    {% include 'profile/verify_email.html' %}
                </div>
                {% endif %}
            </div>

            <!-- Complete profile -->
            <div class="panel panel-default">
                <div class="panel-heading project-registration-step" role="tab" id="heading-profile">
                    <h2 class="panel-title">
                        <div class="{% if profile_completed %}completed-step-header{% elif current_step == 'complete_profile' %}current-step-header{% else %}blocked-step-header{% endif %}">
                            <span>Complete Your Profile</span>
                        </div>
                    </h2>
                </div>
                {% if current_step == 'complete_profile' %}                
                <div class="panel-body">
                    <p>There are a few required fields in your profile that need to be filled out. Please complete the profile registration form below, specifically the fields marked as required. You can go back and edit these fields any time by visiting your <a href="{% url 'profile' %}">profile</a> page.</p>
                        
                    {% include 'profile/registration_form.html' %}
                </div>
                {% endif %}
            </div>

            <!-- Sign forms -->
            {% for agreement_form in agreement_forms_list %}
            <div class="panel panel-default">
                <div class="panel-heading project-registration-step" role="tab" id="heading-form-{{forloop.counter}}">
                    <h2 class="panel-title">
                        <div class="{% if agreement_form.already_signed %}completed-step-header{% elif current_step == agreement_form.agreement_form_name %}current-step-header{% else %}blocked-step-header{% endif %}">
                            <span>Form: {{ agreement_form.agreement_form_name}}</span>
                        </div>
                    </h2>
                </div>
                {% if current_step == agreement_form.agreement_form_name %}                
                <div class="panel-body">
                    {% if not agreement_form.already_signed %}
                    <form name="agreement_form_container" action="/save_signed_agreement_form/" method="post">
                        <div class="agreement_form_contents">
                            {{ agreement_form.agreement_form_file|get_agreement_form_file_contents | safe }}
                        </div>

                        <input type="hidden" class="project_key" name="project_key" value="{{ project.project_key }}" />
                        <input type="hidden" class="agreement_form_id" name="agreement_form_id" value="{{ agreement_form.agreement_form_id }}" />
                        <input type="hidden" class="agreement_text" name="agreement_text" value="" />

                        <hr>

                        <div class="submit_form">
                            <input name="submit_form" type="submit" class="btn btn-primary" value="Submit" />
                        </div>

                        {% csrf_token %}
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            
            <!-- Join team -->
            {# Only display this step if this is a contest #}
            {% if project.is_contest %}
            <div class="panel panel-default">
                <div class="panel-heading project-registration-step" role="tab" id="heading-team">
                    <h2 class="panel-title">
                        {# TODO: If team leader with pending approvals, then current-step #}
                        {# TODO: If team leader with all members approved and team status of activated, then green check #}
                        {# TODO: If team member pending approval, then current-step #}
                        {# TODO: If team member with approval, then green check #}
                        <div class="{% if current_step == 'team' %}current-step-header{% else %}blocked-step-header{% endif %}">
                            <span>Your Team</span>
                        </div>
                    </h2>
                </div>
                {% if current_step == 'team' %}                
                <div class="panel-body">
                    {% include "datacontests/teamdetails.html" with participant=participant teams=teams project=project pi_team=pi_team pi_team_members=pi_team_members %}
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    
    {% else %}
        <div class="alert alert-success alert-dismissible" role="alert">
            Congratulations! You are approved for access to this data challenge.
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block footerscripts %}
<script type="application/javascript">
    $('form[name=agreement_form_container]').submit(function(e){
        e.preventDefault();

        // Grab the div element holding the agreement form and the user's inputs. The form file should have
        // wrapped in a <div class="form-content"> all the form except for any JavaScript so that no JS gets
        // included in the saved form string.
        var agreement_form_contents = $(this).find(".agreement_form_contents").find(".form-content");

        // Replace each input field within the form with its value, so we have one complete agreement form as a string
        agreement_form_contents.find("input").each(function() {

            // For a radio or checkbox, checked inputs should turn into X's
            if ($(this).is(':radio') || $(this).is(':checkbox')) {
                if ($(this).is(':checked')) {
                    $(this).replaceWith("[X]");
                } else {
                    $(this).replaceWith("[ ]");
                }
            } else {
                $(this).replaceWith($(this).val());
            }
        });

        // Find the div element where we want to paste the string containing the completed form
        var agreement_text_container = $(this).find(".agreement_text");

        // Move the content of the agreement_form block into an input in order to be captured by jQuery serialize
        agreement_text_container.val(agreement_form_contents.text());

        var submit_button = $(this).find(".submit_form");

        $.post($(this).attr('action'), $(this).serialize(), function(res){
            // $("#loading").hide();
        }).done(function() {
            notify('success', "Agreement form submitted!", 'thumbs-up');

            // Refresh the page so the user does not see this button again
            setTimeout(function(){
                window.location = window.location.pathname
            },1000);
        }).fail(function() {
            submit_button.replaceWith("<h3><span class='label label-danger'>Form save failed. Please try again in a few minutes.</span></h3>");            
        });
    });
</script>

<script type="application/javascript">
    $('form[name=user_permission_request_form]').submit(function(e){
        e.preventDefault();

        var submit_button = $(this).find("#submit_user_permission_request");

        $.post($(this).attr('action'), $(this).serialize(), function(res){
            // $("#loading").hide();
        }).done(function() {
            notify('success', "Permission request submitted!", 'thumbs-up');

            // Refresh the page so the user does not see this button again
            setTimeout(function(){
                window.location = window.location.pathname
            },1000);
        }).fail(function() {
            submit_button.replaceWith("<h3><span class='label label-danger'>Request failed. Please try again in a few minutes.</span></h3>");            
        });
    });
</script>
{% endblock %}