{% extends 'base.html' %}
{% load static %}
{% load projects_extras %}

{% block content %}
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-md-6">
                    <h2>{% block title %}{% endblock %}</h2>
                    <p class="lead">{% block subtitle %}{% endblock %}</p>
                </div>
                <div class="col-md-6 hms-logo-nav hidden-xs hidden-sm">
                    {% if project.institution %}
                    <div class="col-md-6">
                        <img src="{% static project.institution.logo_path %}">
                    </div>
                    {% endif %}
                    <div class="col-md-offset-6">
                        <img src="{% static 'images/Blavatnikbioinformatics-nomargin.png' %}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="contact-link-container">
                      <a href=# class="contact-form-link" data-toggle="modal" data-target="#contact-form-modal"
                        hx-trigger="click" hx-target="#contact-form-modal"
                        hx-get="{% url 'contact:contact_form' project_key=project_key %}">
                        Need help? Contact us!
                      </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">{% block extrainfo %}{% endblock %}</div>
                </div>
            </div>
        </div>

        {% block subcontent %}
        {% endblock %}

    </div>
{% endblock %}
