{% extends 'base.html' %}

{% block headscripts %}
{% endblock %}

{% block title %}Manage Data Contests{% endblock %}
{% block subtitle %}Temporary page to manage N2C2{% endblock %}

{% block content %}    
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Manage Permissions</div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>DUA Signed</th>
                        <th>CC Signed</th>
                        <th>Date Requested</th>
                        <th>Permissions</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, value in user_details.items %}
                    <tr {% if value.authorization_request.request_granted == False %} class="warning" {% endif %}>
                        <td>{{ key }}</td>
                        <td>first name</td>
                        <td>last name</td>
                        <td>yes/no</td>
                        <td>yes/no</td>
                        <td>{{ value.authorization_request.date_requested }}</td>
                        <td>
                        {% if value.authorization_request.request_granted == False %}
                            <span class="text-danger">None</span>
                        {% else %}
                            {{ value.permissions|join:", " }}
                        {% endif %}
                        </td>
                        <td>
                        {% if value.authorization_request.request_granted == False %}
                            <button id="grant-view-button" type="button" class="btn btn-success btn-xs" data-user="{{ key }}" data-project="{{ project }}" data-authorization-request-id="{{ value.authorization_request.request_id }}">Grant VIEW</button>
                        {% else %}
                            <!-- <button id="revoke-view-button" type="button" class="btn btn-default btn-xs" data-user="{{ key }}" data-project="{{ project }}">Revoke VIEW</button> -->
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>
{% endblock %}

{% block footscripts %}
<script type="application/javascript">
    $('#grant-view-button').click(function() {
        var user_email = $(this).attr("data-user");
        var project = $(this).attr("data-project");
        var authorization_request_id = $(this).attr("data-authorization-request-id");

        var request_data = {
            user_email: user_email,
            project: project,
            authorization_request_id: authorization_request_id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };
        
        $.post("/projects/grantviewpermissions", request_data)
            .done(function() {
                // Refresh the page so the user does not see this button again
                setTimeout(function(){
                    location.reload();
                },0);
            }).fail(function() {
                // TODO Fail message needed    
            });
    });
</script>
{% endblock %}