{% extends 'base.html' %}
{% load countries %}

{% block headscripts %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block tab_name %}Challenge Management{% endblock %}
{% block title %}{{ project.project_key }} Management{% endblock %}
{% block subtitle %}<a href="#">{{ project.short_description }}</a>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Team List</h2>
            </div>
            <div class="panel-body">
                <table id="team-table" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Members</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                        <tr class="team-row" data-team="{{ team }}">
                            <td>{{ team }}</td>
                            <td>{{ team.participant_set.all.count }}</td>
                            <td class="team-status-column">
                            {% if team.status == "Pending" %}
                                Pending
                            {% elif team.status == "Ready" %}
                                <span class="label label-warning">Ready to Activate</span>
                            {% elif team.status == "Active" %}
                                Active
                            {% elif team.status == "Deactivated" %}
                                Deactivated
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Pending Participants Without Teams</h2>
            </div>
            <div class="panel-body">
                <table id="participants-without-teams-table" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <!-- <th>Name</th> -->
                            <!-- <th>Location</th> -->
                            <th>Email</th>
                            <th>Signed Forms</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for person in users_without_a_team_details %}
                        <tr>
                            <!-- <td>{{ person.user_info.first_name }} {{ person.user_info.last_name }}</td>
                            <td>
                                {% get_country person.user_info.country as country %}
                                {% if country == 'US' and person.user_info.state != "" %}
                                    {{ person.user_info.state }}, USA
                                {% else %}
                                    {{ country.name }}
                                {% endif %}
                                    <img src="{{ country.flag }}" class="pull-right" style="margin: 6px 4px 0">
                            </td> -->
                            <td>{{ person.email }}</td>
                            <td>
                                {% for form in person.signed_agreement_forms %}
                                <a class="btn btn-default btn-xs {% if form.status == 'P' %}btn-warning{% elif form.status == 'A' %}btn-success{% elif form.status == 'R' %}btn-danger{% endif %} download-signed-form" href="/projects/signed_agreement_form/?signed_form_id={{ form.id }}&project_key={{ project.project_key }}" target="_blank" role="button">
                                    {{ form.agreement_form.short_name }}
                                </a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Challenge Statistics</h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{ approved_teams }}</span> 
                        Approved Teams
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ approved_participants }}</span> 
                        Approved Participants
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ total_submissions }}</span> 
                        Total Submissions
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ teams_with_any_submission }}</span> 
                        Teams With Submissions
                    </li>
                </ul>

                <hr>

                <p><strong>Countries Represented</strong></p>

                <ul class="list-group">
                {% for participating_country in participating_countries %}
                    <li class="list-group-item">
                        <span class="badge">{{ participating_country.n }}</span>
                        {% get_country participating_country.country as country %}
                        {{ country.name }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-description">
                <h2 class="panel-title">Reports</h2>
            </div>
            <div class="panel-body">
                <p><i>Please only click once and wait for the download to complete. This may take a few moments.</i></p>
                {% for form in project.agreement_forms.all %}
                    {% if form.type == "EXTERNAL_LINK" %}
                        <p><a href="/download_email_list/?project={{ project.project_key }}&team-status=Ready&agreement-form-id={{ form.id }}&agreement-form-status=P" class="btn btn-sm btn-primary btn-block" download>
                            {{ form.name }} Forms to Approve
                        </a></p>
                    {% endif %}
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}

{% block footerscripts %}
<script type="application/javascript">
    // Turn the team table into a DataTable
    $(document).ready(function() {
        $('#team-table').DataTable();
    });
</script>

<script type="application/javascript">
    // Turn the team table into a DataTable
    $(document).ready(function() {
        $('#participants-without-teams-table').DataTable();
    });
</script>

<script type="application/javascript">
    // When clicking a team row, open a new window for team managment
    $(document).ready(function() {
        $('#team-table').on("click", ".team-row", function() {
            var team = $(this).data('team');
            window.open("./" + team);
            
            // Because the user may now delete the team or change its status, mention
            // that they should refresh the page to see any changes
            var teamStatus = $(this).find('.team-status-column');
            teamStatus.html('<span class="label label-default">Refresh to see changes</span>');
        });
    });
</script>
{% endblock %}