{% load countries %}

<div class="row form-group">
    <div class="col-md-4">
        <p><strong>Team Leader:</strong> {{ team.team_leader.email }}</p>
    </div>
    <div class="col-md-8">
        <div class="pull-right">
            <div class="btn-toolbar" role="toolbar" aria-label="team-change-buttons">
                <div class="btn-group" role="group" aria-label="team-status-buttons">
                    <button type="button" id="change-status-to-pending" class="btn btn-sm team-status-buttons {% if team.status == "Pending" %}btn-primary{% else %}btn-default{% endif %}">Open</button>
                    <button type="button" id="change-status-to-ready" class="btn btn-sm team-status-buttons {% if team.status == "Ready" %}btn-warning{% else %}btn-default{% endif %}">Ready</button>
                    <button type="button" id="change-status-to-active" class="btn btn-sm team-status-buttons {% if team.status == "Active" %}btn-success{% else %}btn-default{% endif %}">Activated</button>
                    <button type="button" id="change-status-to-deactivated" class="btn btn-sm team-status-buttons {% if team.status == "Deactivated" %}btn-primary{% else %}btn-default{% endif %}">Deactivated</button>
                </div>
                <div class="btn-group" role="group" aria-label="team-delete-button">            
                    <button type="button" id="delete-team" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="delete-team-confirmation-form" style="display: none;">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            <form>
                <div class="form-group">
                    <strong>Are you sure you want to delete this team?</strong> This action will disband the team but it will not delete the forms that each member has individually signed.
                </div>
                <div class="form-group">
                    <label for="delete-reason">Please provide a reason and then hit confirm.</label>
                    <textarea class="form-control" rows="3" name="delete-reason" id="delete-reason"></textarea>
                </div>
                <button type="button" id="delete-team-confirm" class="btn btn-danger">Delete Team</button>
                <button type="button" id="delete-team-cancel" class="btn btn-default">Cancel</button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Signed Forms</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for member in team_members %}
                <tr>
                    <td>{{ member.user_info.first_name }} {{ member.user_info.last_name }}</td>
                    <td>
                    {% get_country member.user_info.country as country %}
                    {% if country == 'US' and member.user_info.state != "" %}
                        {{ member.user_info.state }}, USA
                    {% else %}
                        {{ country.name }}
                    {% endif %}
                        <img src="{{ country.flag }}" class="pull-right" style="margin: 6px 4px 0">
                    </td>
                    <td>{{ member.email }}</td>
                    <td>
                    {% if member.email == team.team_leader.email %}
                        <span class="label label-primary">Team leader</span>
                    {% elif member.signed_agreement_forms.count != num_required_forms %}
                        <span class="label label-warning">Pending forms</span>
                    {% elif member.participant.team_pending %}
                        <span class="label label-warning">Pending team leader approval</span>
                    {% else %}
                        <span class="label label-default">No issues</span>
                    {% endif %}
                    </td>
                    <td>
                        {% for form in member.signed_agreement_forms %}
                        <a class="btn btn-default btn-xs download-signed-form" href="/projects/download_signed_form/?signed_form_id={{ form.id }}&project_key={{ project.project_key }}" target="_blank" role="button">
                            {{ form.agreement_form.short_name }}
                        </a>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Make team leader</a></li>
                                <li><a href="#">Remove from team</a></li>
                                <li><a href="#">Ban from challenge</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script type="application/javascript">
    var team = "{{ team.team_leader.email }}";
    var project = "{{ project.project_key }}";
    var status = "";

    $('.team-status-buttons').click(function(event) {
        
        if (event.target.id == "change-status-to-pending") {
            status = "pending";
        } else if (event.target.id == "change-status-to-ready") {
            status = "ready";
        } else if (event.target.id == "change-status-to-active") {
            status = "active";
        } else if (event.target.id == "change-status-to-deactivated") {
            status = "deactivated";
        }
        
        var request_data = {
            team: team,
            project: project,
            status: status,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };

        $.post("/projects/change_team_status/", request_data)
            .done(function() {
                location.reload();
            }).fail(function() {
                alert('fail');
            });
    });

    $('#delete-team').click(function() {
        // Display the div containing the confirmation form
        $('#delete-team-confirmation-form').show();
    });

    $('#delete-team-cancel').click(function() {
        // Display the div containing the confirmation form
        $('#delete-team-confirmation-form').hide();
    });

    $('#delete-team-confirm').click(function() {

        var delete_reason = $("#delete-reason").val();

        var request_data = {
            team: team,
            project: project,
            administrator_message: delete_reason,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };

        $.post("/projects/delete_team/", request_data)
            .done(function() {
                location.reload();
            }).fail(function() {
                alert('fail');
            });
    });
</script>