{% if participant.team_wait_on_pi %}
    No action needed at this time. We are waiting for your PI {{ participant.team_wait_on_pi_email }} to create a team.
{%  elif participant.team_pending %}
    No action needed at this time. We are waiting for your PI {{ team.principal_investigator }} to approve your request to join the team.
{%  elif participant.team_approved %}
    {% if user_is_pi %}
        {% if team_has_pending_members %}
        <div class="alert alert-warning" role="alert">
            You are the PI of this team. Please review the list of team members below for any membership requests to approve or reject. If there is someone you would like to join your team, have them create an account here on the DBMI Portal and visit this page.
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
            You are the PI of this team. If all members of your team have already registered and are listed below, please click the Finalize button below to lock in your team for the challenge.
        </div>
        {% endif %}

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Membership</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in team_members %}
                <tr>
                    <td>{{ participant.user.email }}</td>
                    <td>
                    {% if participant.team_approved %}
                        Approved
                    {% elif participant.team_pending %}
                        <button type="button" class="btn btn-success btn-xs pi-team-approve" data-project="{{ project.project_key }}" data-participant="{{ participant.user.email }}">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Approve
                        </button>

                        <button type="button" class="btn btn-danger btn-xs pi-team-reject" data-pi-team="" data-participant="">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reject
                        </button>
                    {% else %}
                        Error
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if not pi_team_has_pending_members %}
        <button type="button" class="btn btn-danger" data-project="{{ project.project_key }}" data-participant="{{ participant.user.email }}">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Finalize
        </button>
        {% endif %}
    {% else %}
        <div class="alert alert-success alert-dismissible" role="alert">
            You have been approved to join team {{ participant.team }}. Please wait for your PI to finalize the team.
        </div>
    {% endif %}
{% else %}
    You have not yet joined a team. Please select your PI from the list below.
    <br />
    <br />

        <form action="/projects/join_team/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="team_list">Team PI List:</label>
              <select class="form-control" name="existing_pi_team_to_join">
                  {% for team in all_teams %}
                    <option value="{{ team }}">{{ team }}</option>
                  {% endfor %}
              </select>
            </div>

            <h5>Don't see your PI?</h5>

            They might not have registered yet. Enter their e-mail address below and you'll be added to the team when
            they register.

            <br />
            <br />


            <input class="form-control" type="email" name="pi_to_wait_for" />
            <br />
            <br />
            <input name="project_key" type="hidden" value="{{ project.project_key }}"/>
            <button class="btn btn-primary" type="submit">Join Team</button>
        </form>

        <br />
        <br />
    <h4>PI Leading a team?</h4>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_pi_modal">Create team as Principal Investigator</button>

    <div class="modal fade" id="new_pi_modal" tabindex="-1" role="dialog" aria-labelledby="new_pi_modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="new_pi_modalLabel">Create Team Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           Are you sure you want to create a new team and become the PI for that team?
          </div>
          <div class="modal-footer">
              <form action="/projects/create_team_from_pi/" method="post">
                  {% csrf_token %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                <input name="project_key" type="hidden" value="{{ project.project_key }}"/>
                <button type="submit" class="btn btn-primary">Sign me up!</button>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endif %}

<script type="application/javascript">
    $('.pi-team-approve').click(function(){
        var project_key = $(this).data("project");
        var participant = $(this).data("participant");

        var request_data = {
            project_key: project_key,
            participant: participant,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };
        
        $.post("/projects/approve_team_join/", request_data)
            .done(function() {
                // Refresh the page so the user does not see this button again
                setTimeout(function(){
                    location.reload();
                },0);
            }).fail(function() {
                // TODO Fail message needed    
            });
    });
</script>

<script type="application/javascript">
    $('.pi-team-reject').click(function(){
        var project_key = $(this).data("project");
        var participant = $(this).data("participant");

        var request_data = {
            project_key: project_key,
            participant: participant,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        };

        // TODO
        alert('Feature not implemented yet.')
        
        // $.post("/projects/approve_team_join/", request_data)
        //     .done(function() {
        //         // Refresh the page so the user does not see this button again
        //         setTimeout(function(){
        //             location.reload();
        //         },0);
        //     }).fail(function() {
        //         // TODO Fail message needed    
        //     });
    });
</script>